.header .navbar .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay/SFProDisplay-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SFProDisplay";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay/SFProDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SFProDisplay";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay/SFProDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SFProDisplay";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay/SFProDisplay-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "SFProDisplay";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay/SFProDisplay-Bold.woff2") format("woff2");
}
:root {
  --line-height-menu-item: 10rem;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "SFProDisplay", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #353535;
  line-height: 1.6;
  margin: 0;
  overflow-x: hidden;
}
body .wrapper {
  min-height: inherit;
}
body .wrapper .site-container {
  flex: 1;
}
body .wrapper .site-container:not(.site-container-elementor) {
  padding-bottom: 5.6rem;
}

.wrapper {
  position: relative;
  background-color: #ffffff;
}

* {
  outline: none;
}

::-moz-selection {
  text-shadow: none;
}

::selection {
  background-color: #FF4F40;
  color: #ffffff;
  text-shadow: none;
}

a {
  transition: 0.4s ease;
  color: #FF4F40;
  line-height: inherit;
  font-size: inherit;
}
a:hover {
  color: rgb(255, 32.0052356021, 13);
  text-decoration: none;
}
a:focus {
  color: rgb(255, 32.0052356021, 13);
  outline: none;
  text-decoration: none;
}
a:active {
  color: rgb(255, 32.0052356021, 13);
  outline: none;
  text-decoration: none;
}

hr {
  margin: 0;
  border-color: #343A40;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

button:focus {
  outline: none;
}
button.btn {
  margin-bottom: 0;
}

section {
  background-color: #fff;
}

.modal-backdrop {
  z-index: 1020;
  background-color: rgba(34, 34, 34, 0.95);
}

.fullscreen {
  height: 100vh !important;
}

blockquote {
  padding: 2.5rem 7.2rem 2.6rem 3rem;
  background-color: #FFFEF4;
  border-left: 0.3rem solid #FF4F40;
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .fullscreen {
    height: auto !important;
  }
}
/* custom modal */
.modal .modal-content .modal-header {
  margin-bottom: 2.4rem;
  padding: 0;
  border-bottom: 0;
}
.modal .modal-content .btn-close-modal {
  padding: 0;
  font-size: 2rem;
  border: none;
  background: transparent;
  transition: 0.4s ease-in-out;
}
.modal .modal-content .btn-close-modal:hover {
  color: #FF4F40;
}
.modal .modal-content .modal-body {
  padding: 0;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

.alignnone, a img.alignnone {
  margin: 0.5rem 2rem 2rem 0;
}

.aligncenter {
  margin: 0.5rem auto;
}

.alignright, a img.alignright {
  margin: 0.5rem 0 2rem 2rem;
}

.alignleft, a img.alignleft {
  margin: 0.5rem 2rem 2rem 0;
}

.aligncenter {
  display: block;
}

.alignright, a img.alignright {
  float: right;
}

.alignleft, a img.alignleft {
  float: left;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header .navbar .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper {
  display: flex;
  flex-direction: column;
}

[class^=theme-row-cols-],
[class*=theme-row-cols-] {
  display: grid;
  gap: 2.4rem;
}

.theme-row-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.theme-row-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.theme-row-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.theme-row-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.theme-row-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.theme-row-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.theme-row-cols-7 {
  grid-template-columns: repeat(7, 1fr);
}

.theme-row-cols-8 {
  grid-template-columns: repeat(8, 1fr);
}

.theme-row-cols-9 {
  grid-template-columns: repeat(9, 1fr);
}

.theme-row-cols-10 {
  grid-template-columns: repeat(10, 1fr);
}

.theme-row-cols-11 {
  grid-template-columns: repeat(11, 1fr);
}

.theme-row-cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 576px) {
  .theme-row-cols-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .theme-row-cols-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .theme-row-cols-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .theme-row-cols-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .theme-row-cols-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .theme-row-cols-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .theme-row-cols-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .theme-row-cols-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .theme-row-cols-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .theme-row-cols-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .theme-row-cols-sm-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .theme-row-cols-sm-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 768px) {
  .theme-row-cols-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .theme-row-cols-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .theme-row-cols-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .theme-row-cols-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .theme-row-cols-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .theme-row-cols-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .theme-row-cols-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .theme-row-cols-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .theme-row-cols-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .theme-row-cols-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .theme-row-cols-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .theme-row-cols-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 992px) {
  .theme-row-cols-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .theme-row-cols-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .theme-row-cols-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .theme-row-cols-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .theme-row-cols-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .theme-row-cols-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .theme-row-cols-lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .theme-row-cols-lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .theme-row-cols-lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .theme-row-cols-lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .theme-row-cols-lg-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .theme-row-cols-lg-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 1200px) {
  .theme-row-cols-xl-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .theme-row-cols-xl-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .theme-row-cols-xl-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .theme-row-cols-xl-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .theme-row-cols-xl-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .theme-row-cols-xl-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .theme-row-cols-xl-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .theme-row-cols-xl-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .theme-row-cols-xl-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .theme-row-cols-xl-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .theme-row-cols-xl-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .theme-row-cols-xl-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 1400px) {
  .theme-row-cols-xxl-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .theme-row-cols-xxl-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .theme-row-cols-xxl-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .theme-row-cols-xxl-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .theme-row-cols-xxl-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .theme-row-cols-xxl-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .theme-row-cols-xxl-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .theme-row-cols-xxl-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .theme-row-cols-xxl-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .theme-row-cols-xxl-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .theme-row-cols-xxl-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .theme-row-cols-xxl-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/* Heading Text */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 500;
  margin: 0 0 0.8rem;
  line-height: 1.4;
}

.h1,
h1 {
  font-size: 3rem;
}

.h2,
h2 {
  font-size: 2.4rem;
}

.h3,
h3 {
  font-size: 2rem;
}

.h4,
h4 {
  font-size: 1.6rem;
}

.h5,
h5 {
  font-size: 1.3rem;
}

.h6,
h6 {
  font-size: 1.2rem;
}

p:last-child {
  margin-bottom: 0;
}

.lead {
  font-size: 16px;
  line-height: 1.8;
}

/* Aligning Text */
.text--left {
  text-align: left !important;
}

.text--right {
  text-align: right !important;
}

.text--center {
  text-align: center !important;
}

.text--just {
  text-align: justify !important;
}

.align--top {
  vertical-align: top;
}

.align--bottom {
  vertical-align: bottom;
}

.align--middle {
  vertical-align: middle;
}

.align--baseline {
  vertical-align: baseline;
}

/* Weight Text */
.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.break-word {
  word-wrap: break-word;
}

.no-wrap {
  white-space: nowrap;
}

/* Text Color */
.text-white {
  color: #ffffff !important;
}

.text-gray {
  color: #fef6f6 !important;
}

.text-black {
  color: #212529;
}

.text-theme {
  color: #FFDF00;
}

.text--capitalize {
  text-transform: capitalize !important;
}

.text--uppercase {
  text-transform: uppercase !important;
}

.font-heading {
  font-family: "SFProDisplay", sans-serif;
}

.font-body {
  font-family: "SFProDisplay", sans-serif;
}

.font-18 {
  font-size: 1.3rem;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.font-40 {
  font-size: 40px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  text-center-xs {
    text-align: center !important;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  text-center-sm {
    text-align: center !important;
  }
}
.higlighted-style1 {
  background-color: #FFDF00;
  color: #fff;
  padding: 5px 0;
}

.higlighted-style2 {
  background-color: #212529;
  color: #fff;
  padding: 5px 0;
}

.higlighted-style3 {
  background-color: #fef6f6;
  color: #FFDF00;
  padding: 5px 0;
}

/*------------------------------------*\
    #COLORS
\*------------------------------------*/
.color-heading {
  color: #212529 !important;
}

.color-theme {
  color: #FFDF00 !important;
}

.color-white {
  color: #ffffff !important;
}

.color-gray {
  color: #fef6f6 !important;
}

/*------------------------------------*\
    #Align
\*------------------------------------*/
address,
blockquote,
dd,
dl,
fieldset,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2rem;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

/* All margin */
.m-0 {
  margin: 0 !important;
}

.m-xs {
  margin: 1rem;
}

.m-sm {
  margin: 2rem;
}

.m-md {
  margin: 4rem;
}

.m-lg {
  margin: 8rem;
}

/* top margin */
.mt-0 {
  margin-top: 0;
}

.mt-xs {
  margin-top: 1rem;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-150 {
  margin-top: 150px;
}

/* bottom margin */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mb-150 {
  margin-bottom: 150px !important;
}

/* right margin */
.mr-0 {
  margin-right: 0;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-150 {
  margin-right: 150px;
}

/* left margin */
.ml-0 {
  margin-left: 0;
}

.ml-xs {
  margin-left: 1rem;
}

.ml-sm {
  margin-left: 2rem;
}

.ml-md {
  margin-left: 4rem;
}

.ml-lg {
  margin-left: 8rem;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-150 {
  margin-left: 150px;
}

/* All padding */
.p-0 {
  padding: 0 !important;
}

.p-xs {
  padding: 1rem;
}

.p-sm {
  padding: 2rem;
}

.p-md {
  padding: 4rem;
}

.p-lg {
  padding: 8rem;
}

/* top padding */
.pt-0 {
  padding-top: 0 !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px !important;
}

.pt-150 {
  padding-top: 150px !important;
}

/* bottom padding */
.pb-0 {
  padding-bottom: 0 !important;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px !important;
}

/* right padding */
.pr-0 {
  padding-right: 0;
}

.pr-xs {
  padding-right: 1rem;
}

.pr-sm {
  padding-right: 2rem;
}

.pr-md {
  padding-right: 4rem;
}

.pr-lg {
  padding-right: 8rem;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-50 {
  padding-right: 50px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-100 {
  padding-right: 100px !important;
}

.pr-150 {
  padding-right: 150px;
}

/* left padding */
.pl-0 {
  padding-left: 0 !important;
}

.pl-30 {
  padding-left: 30px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-100 {
  padding-left: 100px !important;
}

.pl-150 {
  padding-left: 150px;
}

/* Postions */
.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

/* Zindex*/
.zindex-1 {
  z-index: 1;
}

.zindex-2 {
  z-index: 2;
}

.zindex-3 {
  z-index: 3;
}

/* Borders */
.border-all {
  border: 1px solid #FFDF00;
}

.border-top {
  border-top: 1px solid #FFDF00;
}

.border-bottom {
  border-bottom: 1px solid #FFDF00;
}

.border-right {
  border-right: 1px solid #FFDF00;
}

.border-left {
  border-left: 1px solid #FFDF00;
}

/* Display */
.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

@media only screen and (max-width: 767px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .pull-none-xs {
    float: none !important;
    text-align: center !important;
  }
  .mb-15-xs {
    margin-bottom: 15px;
  }
  .mb-30-xs {
    margin-bottom: 30px !important;
  }
  .mb-50-xs {
    margin-bottom: 50px;
  }
  .mb-60-xs {
    margin-bottom: 60px !important;
  }
  .p-none-xs {
    padding-right: 0;
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .text-center-sm {
    text-align: center !important;
  }
  .mb-0-sm {
    margin-bottom: 0;
  }
  .mb-15-sm {
    margin-bottom: 15px;
  }
  .mb-30-sm {
    margin-bottom: 30px !important;
  }
  .mb-50-sm {
    margin-bottom: 50px;
  }
  .mb-60-sm {
    margin-bottom: 60px;
  }
  .pb-15-sm {
    padding-bottom: 15px;
  }
  .pb-30-sm {
    padding-bottom: 30px;
  }
  .pb-50-sm {
    padding-bottom: 50px;
  }
  .pb-60-sm {
    padding-bottom: 60px;
  }
  .p-none-sm {
    padding-right: 0;
    padding-left: 0;
  }
  .pull-none-sm {
    float: none !important;
    text-align: center !important;
  }
}
@media screen and (min-width: 992px) {
  .p-lg-60 {
    padding-right: 60px;
    padding-left: 60px;
  }
}
/*------------------------------------*\
    #Grid
\*------------------------------------*/
.row-no-padding [class*=col-] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-lg-5ths,
.col-md-5ths,
.col-sm-5ths,
.col-xs-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
.col-content {
  padding: 120px 100px 90px 120px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .col-content {
    padding: 40px !important;
  }
}
.col-img {
  height: 600px !important;
  padding: 60px;
  overflow: hidden;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .col-img {
    height: auto;
    min-height: 600px;
  }
}
/* Postion Helpers */
.pos-fixed {
  position: fixed;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-static {
  position: static;
}

.pos-top {
  top: 0;
}

.pos-bottom {
  bottom: 0;
}

.pos-right {
  right: 0;
}

.pos-left {
  left: 0;
}

.pos-vertical-center {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.height-700 {
  height: 700px !important;
}

.height-500 {
  height: 500px !important;
}

.height-800 {
  height: 800px !important;
}

@media only screen and (min-width: 992px) {
  .hidden-lg,
  .hidden-md {
    display: none;
  }
}
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
.btn {
  font-family: "SFProDisplay", sans-serif;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  padding: 0;
  width: 221px;
  height: 51px;
  line-height: 51px;
  transition: 0.5s ease-in-out;
  border-radius: 4px;
  overflow: hidden;
}
.btn.active, .btn:active, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: none;
  box-shadow: none;
}

a.back {
  position: absolute;
  top: 54px;
  left: 70px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  text-transform: capitalize;
  color: #ffffff;
}
a.back:hover span {
  transform: rotate(-180deg) translateX(10px);
}
a.back span {
  transition: 0.4s ease-in-out;
  display: inline-block;
  transform: rotate(-180deg);
  margin-right: 15px;
}

/* Button Primary */
.btn--primary {
  background-color: #FFDF00;
  color: #ffffff;
}
.btn--primary:active, .btn--primary:focus, .btn--primary:hover {
  color: #ffffff;
}

.bg-dark .btn--primary:active, .bg-dark .btn--primary:focus, .bg-dark .btn--primary:hover {
  background-color: #37b05d;
  color: #ffffff;
}

/* Button Secondary*/
.btn--secondary {
  background-color: #FF4F40;
  color: #ffffff;
}
.btn--secondary:active, .btn--secondary:focus, .btn--secondary:hover {
  background-color: #212529;
  color: #ffffff;
}

/* Button White */
.btn--white {
  background-color: #ffffff;
  color: #212529;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.btn--white:active, .btn--white:focus, .btn--white:hover {
  background-color: #FFDF00;
  color: #ffffff;
  border-color: #FFDF00;
}

/* Button Block */
.btn--block {
  width: 100%;
}

.btn--auto {
  width: auto;
}

/* Button Rounded */
.btn--rounded {
  border-radius: 50px;
}

/* Button Bordered */
.btn--bordered {
  background-color: transparent;
}
.btn--bordered.btn--primary {
  color: #FFDF00;
  border-color: #FFDF00;
}
.btn--bordered.btn--primary:active, .btn--bordered.btn--primary:focus, .btn--bordered.btn--primary:hover {
  color: #ffffff;
  background-color: #FFDF00;
  border-color: #FFDF00;
}
.btn--bordered.btn--secondary {
  color: #212529;
  border-color: #212529;
}
.btn--bordered.btn--secondary:active, .btn--bordered.btn--secondary:focus, .btn--bordered.btn--secondary:hover {
  color: #ffffff;
  background-color: #212529;
  border-color: #212529;
}
.btn--bordered.btn--white {
  color: #ffffff;
  border-color: #ffffff;
}
.btn--bordered.btn--white:active, .btn--bordered.btn--white:focus, .btn--bordered.btn--white:hover {
  color: #FFDF00;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn--white.btn--secondary {
  color: #FF4F40;
  border-color: #ffffff;
  background-color: #ffffff;
}
.btn--white.btn--secondary:active, .btn--white.btn--secondary:focus, .btn--white.btn--secondary:hover {
  color: #ffffff;
  background-color: #FFDF00;
  border-color: #FFDF00;
}

/* Btn Arrows */
.btn--arrows {
  position: relative;
}
.btn--arrows:before {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 26px;
  line-height: 51px;
  font-family: "icomoon";
  content: "\e901";
  transition: all 0.4s;
}
.btn--arrows span {
  transition: all 0.4s;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.btn--arrows span i {
  margin-left: 7px;
}
.btn--arrows:hover span {
  transform: translateY(300%);
}
.btn--arrows:hover:before {
  top: 0;
}

/*------------------------------------*\
    #FORMS
\*------------------------------------*/
.form-control {
  color: #353535;
  font-family: "SFProDisplay", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 57px;
  height: 57px;
  text-transform: capitalize;
  border: 0;
  border-bottom: 1px solid #DEE2E6;
  background: transparent;
  padding: 0;
  margin-bottom: 20px;
  position: relative;
  border-radius: 0;
  box-shadow: none;
}
.form-control:focus {
  border-color: #FFDF00;
  box-shadow: none;
  background: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #353535;
}
.form-control:-moz-placeholder {
  color: #353535;
}
.form-control::-moz-placeholder {
  color: #353535;
}
.form-control:-ms-input-placeholder {
  color: #353535;
}

/* Placeholder */
.input-group {
  border-radius: 0;
  border: 1px solid grey;
  background-color: transparent;
  overflow: hidden;
  padding: 3px;
}
.input-group .btn {
  width: 160px;
}
.input-group .input-group-btn {
  border-radius: 50px;
  overflow: hidden;
}

.subscribe-alert {
  margin-top: 1.5rem;
  font-weight: 400;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.subscribe-alert .alert {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 4px;
}

.form-inline .form-control {
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  width: 221px;
  height: 51px;
  border-radius: 50px;
  margin-right: 30px;
  padding-left: 20px;
  border-bottom: none;
  margin-bottom: 0;
}

/*------------------------------------*\
    #Heading
\*------------------------------------*/
.heading {
  margin-bottom: 38px;
}
.heading .heading-title {
  font-family: "SFProDisplay", sans-serif;
  color: #212529;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
  text-transform: none;
}
.heading .heading-desc {
  font-family: "SFProDisplay", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #353535;
  margin-bottom: 0;
  padding: 0;
}
.heading.heading-light .heading-title {
  color: #ffffff;
}
.heading.heading-light .heading-desc {
  color: #ffffff;
}

.heading-1 {
  margin-bottom: 78px;
}

.heading-2 {
  margin-bottom: 35px;
}

.heading-3 {
  margin-bottom: 48px;
}
.heading-3 .heading-title {
  font-size: 45px;
}
.heading-3 .heading-desc {
  font-size: 18px;
  line-height: 1.5;
}

.heading-4 {
  margin-bottom: 68px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .heading .heading-title {
    font-size: 24px;
  }
  .heading .heading-title br {
    display: none;
  }
}
/*------------------------------------*\
    #LOADING-SECTION
\*------------------------------------*/
.preloader {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 99999;
  background-color: #ffffff;
  overflow: hidden;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
.header.header-transparent {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

@media screen and (min-width:992px) {
  .header-2 .navbar-expand-lg > .container,
  .header-2 .navbar-expand-lg > .container-fluid {
    justify-content: space-between;
    padding: 0 70px;
  }
}

/*------------------------------------*\
    #Menu
\*------------------------------------*/
.header .navbar {
  margin-bottom: 0;
  border-radius: 0;
  min-height: 100px;
  border: none;
  padding: 0;
}
.header .navbar .navbar-brand {
  padding: 0;
  margin-right: 0;
  max-width: 16rem;
  min-height: 10rem;
}
.header .navbar .navbar-brand img {
  width: 100%;
}
.header .navbar .navbar-brand .logo-dark {
  display: none;
}
.header .navbar .navbar-brand .logo-light {
  display: inline-block;
}
.header .navbar .navbar-nav > li {
  margin-right: 30px;
  position: relative;
}
.header .navbar .navbar-nav > li:last-child {
  margin-right: 0;
}
.header .navbar .navbar-nav > li > a {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  color: #212529;
  line-height: var(--line-height-menu-item);
  padding: 0;
  position: relative;
  display: block;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width:991px) {
  .header .navbar .navbar-nav > li {
    margin-right: 0;
  }
  .header .navbar .navbar-nav > li a {
    margin-right: 0;
    padding: 15px 10px;
    color: #212529;
    line-height: 1;
  }
  .header .navbar .navbar-nav > li.active {
    background-color: #FF4F40;
  }
  .header .navbar .navbar-nav > li.active a {
    color: #ffffff;
  }
}
.header .navbar .navbar-nav li a:hover {
  color: #FF4F40;
}
.header .navbar.navbar-sticky .navbar-nav > li > a {
  color: #ffffff;
}
.header .navbar.navbar-sticky .navbar-nav > li > a:hover {
  color: #FF4F40;
}
.header .navbar.navbar-fixed {
  top: 0;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(3, 27, 78, 0.1);
  animation: navbarFixed 0.8s;
}
.header .navbar.navbar-fixed .navbar-brand .logo-dark {
  display: inline-block;
}
.header .navbar.navbar-fixed .navbar-brand .logo-light {
  display: none;
}
.header .navbar.navbar-fixed .navbar-nav > li a {
  color: #212529;
  line-height: 1;
}
@media screen and (max-width:991px) {
  .header .navbar.navbar-fixed .navbar-nav > li a:hover {
    background-color: #FFDF00;
    color: #ffffff;
  }
}
.header .navbar.navbar-fixed .navbar-nav > li:hover a, .header .navbar.navbar-fixed .navbar-nav > li.active a {
  color: #FF4F40;
}
@media screen and (max-width:991px) {
  .header .navbar.navbar-fixed .navbar-nav > li:hover, .header .navbar.navbar-fixed .navbar-nav > li.active {
    background-color: #FF4F40;
  }
  .header .navbar.navbar-fixed .navbar-nav > li:hover a, .header .navbar.navbar-fixed .navbar-nav > li.active a {
    color: #ffffff;
  }
}

@media (min-width: 992px) {
  .admin-bar .header .navbar.navbar-fixed {
    top: 3.2rem;
  }
}

@keyframes navbarFixed {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 991px) {
  .navbar .navbar-brand {
    margin-left: 15px;
    height: 100px;
    line-height: 100px;
  }
  .navbar .navbar-toggler {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    outline: none;
    margin-right: 30px;
    padding: 0;
  }
}
@media only screen and (max-width: 991px) and (min-width: 992px) {
  .navbar .navbar-toggler {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-color: transparent;
  }
  .navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon:before, .navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon:after {
    top: 0;
  }
  .navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    transform: rotate(45deg);
  }
  .navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-45deg);
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: relative;
    transition: 0.4s ease-in-out;
  }
  .navbar .navbar-toggler .navbar-toggler-icon:before, .navbar .navbar-toggler .navbar-toggler-icon:after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    transition: 0.4s ease-in-out;
  }
  .navbar .navbar-toggler .navbar-toggler-icon:before {
    top: -10px;
  }
  .navbar .navbar-toggler .navbar-toggler-icon:after {
    top: 10px;
  }
  .navbar .navbar-collapse {
    background-color: #ffffff;
    padding: 15px;
  }
  .navbar.navbar-fixed .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-color: transparent;
  }
  .navbar.navbar-fixed .navbar-toggler .navbar-toggler-icon {
    background-color: #FF4F40;
  }
  .navbar.navbar-fixed .navbar-toggler .navbar-toggler-icon:before, .navbar.navbar-fixed .navbar-toggler .navbar-toggler-icon:after {
    background-color: #FF4F40;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-nav > li {
    margin-right: 16px;
  }
  .module .module-icon,
  .module-consultation .btn {
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.breadcrumbs {
  padding-top: 2.5rem;
  padding-bottom: 2.8rem;
  background-color: #F4F4F4;
}
.breadcrumbs + .has-breadcrumbs {
  margin-top: 5.6rem;
}
.breadcrumbs .title {
  font-size: 2.2rem;
}
.breadcrumbs .title a {
  color: inherit;
}
.breadcrumbs span {
  margin: 0 0.4rem;
  font-size: 1.4rem;
  color: #888888;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.breadcrumbs span:first-child {
  margin-left: 0;
}
.breadcrumbs span:hover, .breadcrumbs span.current-item {
  color: #FF4F40;
}

.header .navbar .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: block;
  float: none;
  text-align: center;
  margin-top: 2.4rem;
}

.page-numbers {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-numbers li {
  display: inline-block;
}
.page-numbers li span,
.page-numbers li a {
  display: block;
  cursor: pointer;
  border: 1px solid #888888;
  padding: 0.4rem 1.2rem;
  position: relative;
  border-radius: 0.4rem;
}
.page-numbers li span.current,
.page-numbers li a:hover {
  background: #FF4F40;
  border-color: #FF4F40;
  color: #fff;
}

.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget.widget_text p:last-child {
  margin-bottom: 0;
}

/*------------------------------------*\
    #Menu
\*------------------------------------*/
@media (min-width: 992px) {
  .header .module-container {
    margin-left: 4rem;
  }
}
@media screen and (max-width:991px) {
  .header .module-container {
    padding-left: 0;
    margin-top: 15px;
  }
}
.header .module-container .module-cta .btn {
  width: auto;
  height: auto;
  padding: 1.4rem 2.6rem;
  cursor: pointer;
  color: #FF4F40;
  text-transform: capitalize;
  line-height: normal;
  border: 0;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: inherit;
  transition: all 0.4s ease-in-out;
  outline: none;
}
.header .module-container .module-cta .btn:hover {
  background-color: #FF4F40;
  color: #ffffff;
}
@media screen and (max-width:991px) {
  .header .module-container .module-cta .btn {
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
  .header .module-container .module-cta .btn:before {
    line-height: 40px;
  }
}
.header.header-default .module-cta .btn {
  background-color: #FF4F40;
  color: #ffffff;
}
.header.header-transparent .module-cta .btn {
  background-color: #ffffff;
}
.header .navbar-fixed .module-container .module-cta .btn {
  background-color: #FF4F40;
  color: #ffffff;
}
.header .navbar-fixed .module-container .module-cta .btn:hover {
  background-color: #212529;
}

/*------------------------------------*\
    #Carousel
\*------------------------------------*/
.carousel-dots .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.carousel-dots .owl-dots.disabled {
  display: flex;
}
.carousel-dots .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border: solid 1px #FF4F40;
  background-color: #FF4F40;
  border-radius: 50%;
  margin-right: 13px;
}
.carousel-dots .owl-dots .owl-dot span {
  display: none;
}
.carousel-dots .owl-dots .owl-dot.active {
  background-color: #ffffff;
  border: 2px solid #FF4F40;
}
.carousel-dots .owl-dots .owl-dot:hover, .carousel-dots .owl-dots .owl-dot:focus {
  outline: none;
}

.carousel-navs .owl-nav.disabled {
  display: flex;
}
.carousel-navs .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  color: #FF4F40;
}
@media screen and (max-width: 1200px) {
  .carousel-navs .owl-nav [class*=owl-] {
    display: none;
  }
}
.carousel-navs .owl-nav [class*=owl-] span {
  display: none;
}
.carousel-navs .owl-nav [class*=owl-] .efa-icon-mask {
  --efa-icon-width: 3rem;
  --efa-icon-height: 3rem;
  --efa-icon-color: #FF4F40;
}
.carousel-navs .owl-nav [class*=owl-]:hover .efa-icon-mask {
  --efa-icon-color: #212529;
}
.carousel-navs .owl-nav .owl-prev {
  left: -40px;
  transform: translateY(50%);
}
@media screen and (max-width: 991px) {
  .carousel-navs .owl-nav .owl-prev {
    left: 0;
  }
}
.carousel-navs .owl-nav .owl-next {
  right: -40px;
}
@media screen and (max-width: 991px) {
  .carousel-navs .owl-nav .owl-next {
    right: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .carousel-dots .owl-controls {
    margin-top: 20px;
  }
}
/*------------------------------------*\
    #Promo Page
\*------------------------------------*/
.landing-hero {
  padding: 125px 0;
}
.landing-hero .landing-content {
  padding-top: 100px;
}
@media screen and (max-width:991px) {
  .landing-hero .landing-content {
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
}
.landing-hero .landing-content h1 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 33px;
}
@media screen and (max-width:767px) {
  .landing-hero .landing-content h1 {
    font-size: 34px;
    line-height: 50px;
  }
}
@media screen and (max-width:991px) {
  .landing-hero .landing-content {
    font-size: 50px;
    line-height: 55px;
  }
}
.landing-hero .landing-content p {
  font-family: "SFProDisplay", sans-serif;
  font-size: 18px;
  line-height: 27px;
}
.landing-hero .landing-content .scroll-to i {
  transform: rotate(90deg);
  display: inline-block;
  color: #FFDF00;
  font-size: 42px;
  cursor: pointer;
  animation: 1s Up-Down ease-in-out infinite;
}

.landing-demos {
  padding: 120px 0 40px 0;
}
.landing-demos .showcase-card {
  transition: all 300ms;
  margin: 0 auto 80px auto;
  font-size: 16px;
  font-weight: 500;
  color: #212529;
  text-align: center;
  text-transform: capitalize;
}
@media screen and (max-width:991px) {
  .landing-demos .showcase-card {
    max-width: 500px;
  }
}
.landing-demos .showcase-card .showcase-card-img {
  box-shadow: 0px 30px 50px rgba(33, 37, 40, 0.1);
  margin-bottom: 30px;
}
.landing-demos .showcase-card .showcase-card-img img {
  max-width: 100%;
  height: auto;
  transition: all 300ms ease-in-out;
}
.landing-demos .showcase-card a {
  color: #212529;
  text-align: center;
  display: block;
  transition: 0.4s ease-in-out;
}
.landing-demos .showcase-card a:hover {
  color: #FFDF00;
}
.landing-demos .showcase-card:hover {
  transform: translateY(-6px);
}

.landing-action {
  padding: 120px;
}
.landing-action h3 {
  color: #fffefe;
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 20px;
}
@media screen and (max-width:991px) {
  .landing-action h3 {
    font-size: 28px;
    line-height: 35px;
  }
}
.landing-action p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 5px;
}

.landing-featues {
  padding-bottom: 50px;
}
.landing-featues .feature-box {
  margin-bottom: 50px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .landing-hero {
    height: auto;
    padding-top: 60px;
  }
  .landing-hero h1 {
    font-size: 34px;
    line-height: 50px;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .landing-hero {
    height: auto;
    padding-top: 100px;
  }
  .landing-hero h1 {
    font-size: 50px;
    line-height: 55px;
  }
}
/*------------------------------------*\
    #Footer
\*------------------------------------*/
.footer {
  background-color: #212529;
}
.footer p:last-child {
  margin-bottom: 0;
}
.footer .footer-widgets-container {
  padding-top: 55px;
  padding-bottom: 50px;
}
.footer .footer-widgets-container .footer-widget {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.footer .footer-widgets-container .footer-widget .widget + .widget {
  margin-top: 2.4rem;
}
.footer .footer-widgets-container .footer-widget .list-unstyled {
  margin-bottom: 0;
}
.footer .footer-widgets-container .footer-widget .navbar-brand {
  margin-right: 0;
  margin-bottom: 7px;
}
.footer .footer-widgets-container .footer-widget ul {
  margin-bottom: 0;
}
@media screen and (max-width:991px) {
  .footer .footer-widgets-container .footer-widget ul {
    text-align: center;
  }
}
.footer .footer-widgets-container .footer-widget ul li a {
  font-size: 16px;
  line-height: 1.19;
  color: #868E96;
  font-weight: 400;
  font-family: "SFProDisplay", sans-serif;
  transition: 0.4s ease-in-out;
  text-transform: capitalize;
}
.footer .footer-widgets-container .footer-widget ul li a:hover {
  color: #FF4F40;
}
.footer .footer-widgets-container .footer-widget ul.menu li {
  display: inline-block;
}
.footer .footer-widgets-container .footer-widget ul.menu li a {
  padding: 0.5rem 1rem;
}
.footer .footer-widgets-container .footer-widget .footer-contact li {
  margin-bottom: 10px;
}
.footer .footer-widgets-container .footer-widget .footer-contact li:last-child {
  margin-bottom: 0;
}
.footer .footer-widgets-container .footer-widget .footer-contact li a {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  color: #868E96;
}
.footer .footer-widgets-container .footer-widget .footer-contact li a:hover {
  color: #FF4F40;
}
.footer .footer-widgets-container + .container .footer-copyright {
  border-top: 1px solid #343A40;
}
.footer .footer-copyright-mini {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "SFProDisplay", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  color: #868E96;
}
.footer .footer-copyright-mini a {
  color: #FF4F40;
}
.footer .footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  color: #868E96;
}
@media screen and (max-width:991px) {
  .footer .footer-copyright {
    flex-direction: column;
    justify-content: center;
  }
  .footer .footer-copyright .footer-social {
    margin-top: 25px;
  }
}
.footer .footer-copyright a {
  color: #FF4F40;
}
.footer .footer-copyright a:hover {
  color: #212529;
}
.footer .footer-copyright .footer-social ul {
  margin-bottom: 0;
}
.footer .footer-copyright .footer-social ul li {
  display: inline-block;
  margin-right: 15px;
}
.footer .footer-copyright .footer-social ul li:last-child {
  margin-right: 0;
}
.footer .footer-copyright .footer-social ul li a {
  font-size: 1.5rem;
  color: #868E96;
}
.footer .footer-copyright .footer-social ul li a:hover {
  color: #FF4F40;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer-copyright {
    font-size: 1.2rem;
  }
}