.widget.recent-post-widget .post-list .item .image {
  position: relative;
  overflow: hidden;
}
.widget.recent-post-widget .post-list .item .image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.widget.recent-post-widget .post-list .item .image img {
  transition: all 0.4s ease-in-out;
}
.widget.recent-post-widget .post-list .item .image:hover:after {
  opacity: 1;
}
.widget.recent-post-widget .post-list .item .image:hover img {
  transform: scale(1.1);
}

.header .navbar .navbar-brand, .btn-link, .sticky-contact-panel .panel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper {
  display: flex;
  flex-direction: column;
}

:root {
  --line-height-menu-item: 10rem;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}
body .wrapper {
  min-height: inherit;
}
body .wrapper .site-container {
  flex: 1;
}
body .wrapper .site-container:not(.site-container-elementor) {
  padding-bottom: 5.6rem;
}

.wrapper {
  position: relative;
  background-color: #ffffff;
}

* {
  outline: none;
}

::-moz-selection {
  text-shadow: none;
}

::selection {
  background-color: #FF4F40;
  color: #ffffff;
  text-shadow: none;
}

a {
  transition: 0.4s ease;
  color: #FF4F40;
  line-height: inherit;
  font-size: inherit;
}
a:hover {
  color: rgb(255, 32.0052356021, 13);
  text-decoration: none;
}
a:focus {
  color: rgb(255, 32.0052356021, 13);
  outline: none;
  text-decoration: none;
}
a:active {
  color: rgb(255, 32.0052356021, 13);
  outline: none;
  text-decoration: none;
}

hr {
  margin: 0;
  border-color: #343A40;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

textarea {
  resize: none;
}

button:focus {
  outline: none;
}
button.btn {
  margin-bottom: 0;
}

section {
  background-color: #fff;
}

.modal-backdrop {
  z-index: 1020;
  background-color: rgba(34, 34, 34, 0.95);
}

.fullscreen {
  height: 100vh !important;
}

blockquote {
  margin-bottom: 2rem;
  padding: 2.5rem 7.2rem 2.6rem 3rem;
  background-color: #FFFEF4;
  border-left: 0.3rem solid #FF4F40;
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .fullscreen {
    height: auto !important;
  }
}
/* custom modal */
.modal .modal-content .modal-header {
  margin-bottom: 2.4rem;
  padding: 0;
  border-bottom: 0;
}
.modal .modal-content .btn-close-modal {
  padding: 0;
  font-size: 2rem;
  border: none;
  background: transparent;
  transition: 0.4s ease-in-out;
}
.modal .modal-content .btn-close-modal:hover {
  color: #FF4F40;
}
.modal .modal-content .modal-body {
  padding: 0;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

.sticky-contact-panel {
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .sticky-contact-panel {
    right: 6rem;
    bottom: 6rem;
    gap: 2.4rem;
  }
}
@media (max-width: 767px) {
  .sticky-contact-panel {
    right: 2rem;
    bottom: 2rem;
    gap: 1.2rem;
  }
}
.sticky-contact-panel .panel-item {
  color: #ffffff;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .sticky-contact-panel .panel-item {
    width: 5.2rem;
    height: 5.2rem;
  }
}
@media (max-width: 767px) {
  .sticky-contact-panel .panel-item {
    width: 4rem;
    height: 4rem;
  }
}
@media (min-width: 768px) {
  .sticky-contact-panel .panel-item .ic-mask {
    --theme-ic-width: 3rem;
    --theme-ic-height: 3rem;
  }
}
@media (max-width: 767px) {
  .sticky-contact-panel .panel-item .ic-mask {
    --theme-ic-width: 2rem;
    --theme-ic-height: 2rem;
  }
}
.sticky-contact-panel .back-top {
  opacity: 0;
  visibility: hidden;
  background-color: #FF4F40;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.sticky-contact-panel .back-top.show {
  opacity: 1;
  visibility: visible;
}
.sticky-contact-panel .panel-phone {
  background-color: #FF4F40;
}

.btn-link {
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 1rem;
}
.btn-link.btn-contact-zalo {
  color: #ffffff;
  background-color: #FF4F40;
}
.btn-link.btn-contact-zalo .ic-mask {
  --theme-ic-width: 2rem;
  --theme-ic-height: 2rem;
}
.btn-link.btn-read-more {
  color: #FF4F40;
  background-color: #CCEEFF;
}
.btn-link.btn-contact-zalo:hover, .btn-link.btn-read-more:hover {
  color: #ffffff;
  background-color: #444444;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toggle-icon .ic-mask-chevron-up {
  display: none;
}

button[aria-expanded=true] .ic-mask-chevron-up {
  display: inline-block;
}
button[aria-expanded=true] .ic-mask-chevron-down {
  display: none;
}

.blinking-text.menu-item a {
  animation: blink-color 0.5s infinite;
}

@keyframes blink-color {
  0% {
    color: #000000;
  }
  50% {
    color: #007bff;
  }
  100% {
    color: #000000;
  }
}
.alignnone, a img.alignnone {
  margin: 0.5rem 2rem 2rem 0;
}

.aligncenter {
  margin: 0.5rem auto;
}

.alignright, a img.alignright {
  margin: 0.5rem 0 2rem 2rem;
}

.alignleft, a img.alignleft {
  margin: 0.5rem 2rem 2rem 0;
}

.aligncenter {
  display: block;
}

.alignright, a img.alignright {
  float: right;
}

.alignleft, a img.alignleft {
  float: left;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.widget.recent-post-widget .post-list .item .image {
  position: relative;
  overflow: hidden;
}
.widget.recent-post-widget .post-list .item .image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.widget.recent-post-widget .post-list .item .image img {
  transition: all 0.4s ease-in-out;
}
.widget.recent-post-widget .post-list .item .image:hover:after {
  opacity: 1;
}
.widget.recent-post-widget .post-list .item .image:hover img {
  transform: scale(1.1);
}

.header .navbar .navbar-brand, .sticky-contact-panel .panel-item, .btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper {
  display: flex;
  flex-direction: column;
}

[class^=theme-row-cols-],
[class*=theme-row-cols-] {
  display: grid;
  gap: 2.4rem;
}

.theme-row-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.theme-row-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.theme-row-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.theme-row-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.theme-row-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.theme-row-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.theme-row-cols-7 {
  grid-template-columns: repeat(7, 1fr);
}

.theme-row-cols-8 {
  grid-template-columns: repeat(8, 1fr);
}

.theme-row-cols-9 {
  grid-template-columns: repeat(9, 1fr);
}

.theme-row-cols-10 {
  grid-template-columns: repeat(10, 1fr);
}

.theme-row-cols-11 {
  grid-template-columns: repeat(11, 1fr);
}

.theme-row-cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 576px) {
  .theme-row-cols-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .theme-row-cols-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .theme-row-cols-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .theme-row-cols-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .theme-row-cols-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .theme-row-cols-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .theme-row-cols-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .theme-row-cols-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .theme-row-cols-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .theme-row-cols-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .theme-row-cols-sm-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .theme-row-cols-sm-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 768px) {
  .theme-row-cols-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .theme-row-cols-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .theme-row-cols-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .theme-row-cols-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .theme-row-cols-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .theme-row-cols-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .theme-row-cols-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .theme-row-cols-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .theme-row-cols-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .theme-row-cols-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .theme-row-cols-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .theme-row-cols-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 992px) {
  .theme-row-cols-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .theme-row-cols-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .theme-row-cols-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .theme-row-cols-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .theme-row-cols-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .theme-row-cols-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .theme-row-cols-lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .theme-row-cols-lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .theme-row-cols-lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .theme-row-cols-lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .theme-row-cols-lg-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .theme-row-cols-lg-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 1200px) {
  .theme-row-cols-xl-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .theme-row-cols-xl-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .theme-row-cols-xl-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .theme-row-cols-xl-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .theme-row-cols-xl-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .theme-row-cols-xl-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .theme-row-cols-xl-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .theme-row-cols-xl-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .theme-row-cols-xl-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .theme-row-cols-xl-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .theme-row-cols-xl-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .theme-row-cols-xl-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 1400px) {
  .theme-row-cols-xxl-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .theme-row-cols-xxl-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .theme-row-cols-xxl-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .theme-row-cols-xxl-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .theme-row-cols-xxl-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .theme-row-cols-xxl-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .theme-row-cols-xxl-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .theme-row-cols-xxl-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .theme-row-cols-xxl-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .theme-row-cols-xxl-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .theme-row-cols-xxl-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .theme-row-cols-xxl-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/* Heading Text */
p:last-child {
  margin-bottom: 0;
}

.lead {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Aligning Text */
.text--left {
  text-align: left !important;
}

.text--right {
  text-align: right !important;
}

.text--center {
  text-align: center !important;
}

.text--just {
  text-align: justify !important;
}

.align--top {
  vertical-align: top;
}

.align--bottom {
  vertical-align: bottom;
}

.align--middle {
  vertical-align: middle;
}

.align--baseline {
  vertical-align: baseline;
}

/* Weight Text */
.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.break-word {
  word-wrap: break-word;
}

.no-wrap {
  white-space: nowrap;
}

/* Text Color */
.text-white {
  color: #ffffff !important;
}

.text-gray {
  color: #fef6f6 !important;
}

.text-black {
  color: #222222;
}

.text-theme {
  color: #007BFF;
}

.text--capitalize {
  text-transform: capitalize !important;
}

.text--uppercase {
  text-transform: uppercase !important;
}

.font-heading {
  font-family: inherit;
}

.font-body {
  font-family: "Inter", sans-serif;
}

.font-18 {
  font-size: 1.8rem;
}

.font-16 {
  font-size: 1.6rem;
}

.font-20 {
  font-size: 2rem;
}

.font-40 {
  font-size: 4rem;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  text-center-xs {
    text-align: center !important;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  text-center-sm {
    text-align: center !important;
  }
}
.higlighted-style3, .higlighted-style2, .higlighted-style1 {
  color: #fff;
  padding: 5px 0;
}

.higlighted-style1 {
  background-color: #007BFF;
}

.higlighted-style2 {
  background-color: #222222;
}

.higlighted-style3 {
  background-color: #fef6f6;
  color: #007BFF;
}

.widget.recent-post-widget .post-list .item .image {
  position: relative;
  overflow: hidden;
}
.widget.recent-post-widget .post-list .item .image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.widget.recent-post-widget .post-list .item .image img {
  transition: all 0.4s ease-in-out;
}
.widget.recent-post-widget .post-list .item .image:hover:after {
  opacity: 1;
}
.widget.recent-post-widget .post-list .item .image:hover img {
  transform: scale(1.1);
}

.header .navbar .navbar-brand, .sticky-contact-panel .panel-item, .btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper {
  display: flex;
  flex-direction: column;
}

.ic-mask {
  --theme-ic-width: 1.6rem;
  --theme-ic-height: 1.6rem;
  --theme-ic-color: currentColor;
  display: inline-block;
  width: var(--theme-ic-width);
  height: var(--theme-ic-height);
  background-color: var(--theme-ic-color);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}
.ic-mask-arrow-left {
  mask-image: url("../images/icons/arrow-left.svg");
  -webkit-mask-image: url("../images/icons/arrow-left.svg");
}
.ic-mask-arrow-right {
  mask-image: url("../images/icons/arrow-right.svg");
  -webkit-mask-image: url("../images/icons/arrow-right.svg");
}
.ic-mask-bag {
  mask-image: url("../images/icons/bag.svg");
  -webkit-mask-image: url("../images/icons/bag.svg");
}
.ic-mask-chevron-up {
  mask-image: url("../images/icons/chevron-up.svg");
  -webkit-mask-image: url("../images/icons/chevron-up.svg");
}
.ic-mask-chevron-down {
  mask-image: url("../images/icons/chevron-down.svg");
  -webkit-mask-image: url("../images/icons/chevron-down.svg");
}
.ic-mask-external-link {
  mask-image: url("../images/icons/external-link.svg");
  -webkit-mask-image: url("../images/icons/external-link.svg");
}
.ic-mask-facebook {
  mask-image: url("../images/icons/facebook.svg");
  -webkit-mask-image: url("../images/icons/facebook.svg");
}
.ic-mask-huge-send {
  mask-image: url("../images/icons/huge-send.svg");
  -webkit-mask-image: url("../images/icons/huge-send.svg");
}
.ic-mask-linkedin {
  mask-image: url("../images/icons/linkedin.svg");
  -webkit-mask-image: url("../images/icons/linkedin.svg");
}
.ic-mask-location {
  mask-image: url("../images/icons/location.svg");
  -webkit-mask-image: url("../images/icons/location.svg");
}
.ic-mask-phone-incoming {
  mask-image: url("../images/icons/phone-incoming.svg");
  -webkit-mask-image: url("../images/icons/phone-incoming.svg");
}
.ic-mask-phone-volume {
  mask-image: url("../images/icons/phone-volume.svg");
  -webkit-mask-image: url("../images/icons/phone-volume.svg");
}
.ic-mask-thumbtack {
  mask-image: url("../images/icons/thumbtack.svg");
  -webkit-mask-image: url("../images/icons/thumbtack.svg");
}
.ic-mask-up-long {
  mask-image: url("../images/icons/up-long.svg");
  -webkit-mask-image: url("../images/icons/up-long.svg");
}

/*------------------------------------*\
    #COLORS
\*------------------------------------*/
.color-heading {
  color: #222222 !important;
}

.color-theme {
  color: #007BFF !important;
}

.color-white {
  color: #ffffff !important;
}

.color-gray {
  color: #fef6f6 !important;
}

/*------------------------------------*\
    #Grid
\*------------------------------------*/
.row-no-padding [class*=col-] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-lg-5ths,
.col-md-5ths,
.col-sm-5ths,
.col-xs-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
.col-content {
  padding: 120px 100px 90px 120px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .col-content {
    padding: 40px !important;
  }
}
.col-img {
  height: 600px !important;
  padding: 60px;
  overflow: hidden;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .col-img {
    height: auto;
    min-height: 600px;
  }
}
/* Postion Helpers */
.pos-fixed {
  position: fixed;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-static {
  position: static;
}

.pos-top {
  top: 0;
}

.pos-bottom {
  bottom: 0;
}

.pos-right {
  right: 0;
}

.pos-left {
  left: 0;
}

.pos-vertical-center {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.height-700 {
  height: 700px !important;
}

.height-500 {
  height: 500px !important;
}

.height-800 {
  height: 800px !important;
}

@media only screen and (min-width: 992px) {
  .hidden-lg,
  .hidden-md {
    display: none;
  }
}
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
.btn {
  font-family: "Inter", sans-serif;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  padding: 0;
  width: 221px;
  height: 51px;
  line-height: 51px;
  transition: 0.5s ease-in-out;
  border-radius: 4px;
  overflow: hidden;
}
.btn.active, .btn:active, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: none;
  box-shadow: none;
}

a.back {
  position: absolute;
  top: 54px;
  left: 70px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  text-transform: capitalize;
  color: #ffffff;
}
a.back:hover span {
  transform: rotate(-180deg) translateX(10px);
}
a.back span {
  transition: 0.4s ease-in-out;
  display: inline-block;
  transform: rotate(-180deg);
  margin-right: 15px;
}

/* Button Primary */
.btn--primary {
  background-color: #007BFF;
  color: #ffffff;
}
.btn--primary:active, .btn--primary:focus, .btn--primary:hover {
  color: #ffffff;
}

.bg-dark .btn--primary:active, .bg-dark .btn--primary:focus, .bg-dark .btn--primary:hover {
  background-color: #37b05d;
  color: #ffffff;
}

/* Button Secondary*/
.btn--secondary {
  background-color: #FF4F40;
  color: #ffffff;
}
.btn--secondary:active, .btn--secondary:focus, .btn--secondary:hover {
  background-color: #222222;
  color: #ffffff;
}

/* Button White */
.btn--white {
  background-color: #ffffff;
  color: #222222;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.btn--white:active, .btn--white:focus, .btn--white:hover {
  background-color: #007BFF;
  color: #ffffff;
  border-color: #007BFF;
}

/* Button Block */
.btn--block {
  width: 100%;
}

.btn--auto {
  width: auto;
}

/* Button Rounded */
.btn--rounded {
  border-radius: 50px;
}

/* Button Bordered */
.btn--bordered {
  background-color: transparent;
}
.btn--bordered.btn--primary {
  color: #007BFF;
  border-color: #007BFF;
}
.btn--bordered.btn--primary:active, .btn--bordered.btn--primary:focus, .btn--bordered.btn--primary:hover {
  color: #ffffff;
  background-color: #007BFF;
  border-color: #007BFF;
}
.btn--bordered.btn--secondary {
  color: #222222;
  border-color: #222222;
}
.btn--bordered.btn--secondary:active, .btn--bordered.btn--secondary:focus, .btn--bordered.btn--secondary:hover {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}
.btn--bordered.btn--white {
  color: #ffffff;
  border-color: #ffffff;
}
.btn--bordered.btn--white:active, .btn--bordered.btn--white:focus, .btn--bordered.btn--white:hover {
  color: #007BFF;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn--white.btn--secondary {
  color: #FF4F40;
  border-color: #ffffff;
  background-color: #ffffff;
}
.btn--white.btn--secondary:active, .btn--white.btn--secondary:focus, .btn--white.btn--secondary:hover {
  color: #ffffff;
  background-color: #007BFF;
  border-color: #007BFF;
}

/* Btn Arrows */
.btn--arrows {
  position: relative;
}
.btn--arrows:before {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 26px;
  line-height: 51px;
  font-family: "icomoon";
  content: "\e901";
  transition: all 0.4s;
}
.btn--arrows span {
  transition: all 0.4s;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.btn--arrows span i {
  margin-left: 7px;
}
.btn--arrows:hover span {
  transform: translateY(300%);
}
.btn--arrows:hover:before {
  top: 0;
}

/*------------------------------------*\
    #FORMS
\*------------------------------------*/
.form-control {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 57px;
  height: 57px;
  text-transform: capitalize;
  border: 0;
  border-bottom: 1px solid #DEE2E6;
  background: transparent;
  padding: 0;
  margin-bottom: 20px;
  position: relative;
  border-radius: 0;
  box-shadow: none;
}
.form-control:focus {
  border-color: #007BFF;
  box-shadow: none;
  background: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #000000;
}
.form-control:-moz-placeholder {
  color: #000000;
}
.form-control::-moz-placeholder {
  color: #000000;
}
.form-control:-ms-input-placeholder {
  color: #000000;
}

/* Placeholder */
.input-group {
  border-radius: 0;
  border: 1px solid grey;
  background-color: transparent;
  overflow: hidden;
  padding: 3px;
}
.input-group .btn {
  width: 160px;
}
.input-group .input-group-btn {
  border-radius: 50px;
  overflow: hidden;
}

.subscribe-alert {
  margin-top: 1.5rem;
  font-weight: 400;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.subscribe-alert .alert {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 4px;
}

.form-inline .form-control {
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  width: 221px;
  height: 51px;
  border-radius: 50px;
  margin-right: 30px;
  padding-left: 20px;
  border-bottom: none;
  margin-bottom: 0;
}

.widget ~ .widget {
  margin-top: 2rem;
}
.widget .widget-title {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 500;
}
.widget.recent-post-widget {
  padding: 2rem 2.4rem 2.8rem;
  background-color: #F4F4F4;
}
.widget.recent-post-widget .post-list .item {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 11rem 1fr;
}
.widget.recent-post-widget .post-list .item .image {
  border-radius: 0.8rem;
  overflow: hidden;
  height: 7.3rem;
}
.widget.recent-post-widget .post-list .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.widget.recent-post-widget .post-list .item ~ .item {
  padding-top: 1.6rem;
  margin-top: 1.6rem;
  border-top: 0.1rem solid #E7E7E7;
}
.widget.recent-post-widget .post-list .item .content .title a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
}
.widget.recent-post-widget .post-list .item .content .desc {
  font-size: 1.4rem;
  color: #353535;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget.contact-info-widget .info-list .ic-mask {
  --theme-ic-width: 2.4rem;
  --theme-ic-height: 2.4rem;
  --theme-ic-color: #FF4F40 ;
}
.widget.contact-info-widget .info-list li {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 2.4rem 1fr;
  align-items: center;
  font-size: 1.4rem;
}
.widget.contact-info-widget .info-list li a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.widget.widget_tag_cloud .tagcloud {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
}
.widget.widget_tag_cloud .tagcloud a {
  padding: 0.6rem 1.2rem;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 1.2rem !important;
  color: #ffffff;
  border-radius: 0.8rem;
  background-color: #3B3B3B;
}
.widget.widget_tag_cloud .tagcloud a .tag-link-count {
  display: inline-block;
  margin-left: 0.4em;
}
.widget.widget_tag_cloud .tagcloud a:hover {
  color: #FF4F40;
}
.widget.social-widget .social-network-item {
  display: flex;
  align-items: center;
}
.widget.social-widget .social-network-item a {
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;
}

.site-sidebar .widget .widget-title,
.elementor-widget-container .widget .widget-title {
  position: relative;
  padding-left: 1.6rem;
}
.site-sidebar .widget .widget-title::before,
.elementor-widget-container .widget .widget-title::before {
  position: absolute;
  content: "";
  width: 0.6rem;
  height: 1.4rem;
  left: 0;
  top: 50%;
  border-radius: 1.2rem;
  background-color: #FF4F40;
  transform: translateY(-50%);
}
.site-sidebar .widget.widget_media_image img,
.elementor-widget-container .widget.widget_media_image img {
  width: 100%;
}

/*------------------------------------*\
    #Heading
\*------------------------------------*/
.heading .heading-title {
  font-family: inherit;
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
  text-transform: none;
}
.heading .heading-desc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin-bottom: 0;
  padding: 0;
}
.heading.heading-light .heading-title {
  color: #ffffff;
}
.heading.heading-light .heading-desc {
  color: #ffffff;
}

.heading-1 {
  margin-bottom: 78px;
}

.heading-2 {
  margin-bottom: 35px;
}

.heading-3 {
  margin-bottom: 48px;
}
.heading-3 .heading-title {
  font-size: 45px;
}
.heading-3 .heading-desc {
  font-size: 18px;
  line-height: 1.5;
}

.heading-4 {
  margin-bottom: 68px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .heading .heading-title {
    font-size: 24px;
  }
  .heading .heading-title br {
    display: none;
  }
}
/*------------------------------------*\
    #LOADING-SECTION
\*------------------------------------*/
.preloader {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 99999;
  background-color: #ffffff;
  overflow: hidden;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
.header.header-transparent {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

@media screen and (min-width:992px) {
  .header-2 .navbar-expand-lg > .container,
  .header-2 .navbar-expand-lg > .container-fluid {
    justify-content: space-between;
    padding: 0 7rem;
  }
}

/*------------------------------------*\
    #Menu
\*------------------------------------*/
.header {
  border-bottom: 0.1rem solid #E7E7E7;
}
@media screen and (min-width:1200px) {
  .header .container {
    gap: 2.4rem;
  }
}
@media (max-width: 1199px) {
  .header .container {
    gap: 1.2rem;
  }
}
.header .navbar {
  margin-bottom: 0;
  border-radius: 0;
  min-height: 10rem;
  border: none;
  padding: 0;
}
.header .navbar .navbar-brand {
  padding: 0;
  margin-right: 0;
  max-width: 16rem;
  min-height: 10rem;
}
.header .navbar .navbar-brand img {
  width: 100%;
}
.header .navbar .navbar-brand .logo-dark {
  display: none;
}
.header .navbar .navbar-brand .logo-light {
  display: inline-block;
}
@media screen and (min-width:1200px) {
  .header .navbar .navbar-nav {
    gap: 3.2rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header .navbar .navbar-nav {
    gap: 1.6rem;
  }
}
@media screen and (max-width:991px) {
  .header .navbar .navbar-nav {
    border-top: 0.1rem solid #e7e7e7;
  }
}
.header .navbar .navbar-nav li a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000000;
  padding: 0;
  position: relative;
  display: block;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.header .navbar .navbar-nav li a:hover {
  color: #FF4F40;
}
.header .navbar .navbar-nav li .sub-menu {
  list-style: none;
}
@media screen and (min-width:992px) {
  .header .navbar .navbar-nav li .sub-menu {
    position: absolute;
    left: 0;
    top: 110%;
    z-index: 999;
    margin: 0.7rem 0 0 0;
    padding: 1.6rem;
    width: 26rem;
    border-radius: 1.6rem;
    box-shadow: 0 0.3rem 1rem 0 #E1E1E1;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
}
@media screen and (max-width:991px) {
  .header .navbar .navbar-nav li .sub-menu {
    padding: 0 3.4rem;
  }
}
.header .navbar .navbar-nav li .sub-menu li a {
  font-size: 1.4rem;
  word-break: break-word;
}
.header .navbar .navbar-nav li .sub-menu li ~ li {
  margin-top: 1.2rem;
}
@media screen and (min-width:992px) {
  .header .navbar .navbar-nav li .sub-menu li ~ li {
    padding-top: 1.2rem;
    border-top: 1px solid #EAEAEA;
  }
}
@media screen and (max-width:991px) {
  .header .navbar .navbar-nav li .sub-menu li:last-child {
    margin-bottom: 0.4rem;
  }
}
.header .navbar .navbar-nav li .sub-menu li.current-menu-item > a {
  color: #FF4F40;
}
.header .navbar .navbar-nav > li {
  position: relative;
}
@media screen and (min-width:992px) {
  .header .navbar .navbar-nav > li {
    display: flex;
    align-items: center;
  }
}
.header .navbar .navbar-nav > li::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.2rem;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.header .navbar .navbar-nav > li:last-child {
  margin-right: 0;
}
@media screen and (min-width:992px) {
  .header .navbar .navbar-nav > li.current-menu-item::after, .header .navbar .navbar-nav > li.current-menu-parent::after {
    background-color: #FF4F40;
  }
}
.header .navbar .navbar-nav > li.current-menu-item > a, .header .navbar .navbar-nav > li.current-menu-parent > a {
  color: #FF4F40;
}
@media screen and (min-width:992px) {
  .header .navbar .navbar-nav > li:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width:991px) {
  .header .navbar .navbar-nav > li {
    margin-right: 0;
  }
  .header .navbar .navbar-nav > li > a {
    margin-right: 0;
    padding: 1.5rem 2.5rem;
    color: #000000;
    line-height: 1;
  }
  .header .navbar .navbar-nav > li.active {
    background-color: #FF4F40;
  }
  .header .navbar .navbar-nav > li.active a {
    color: #ffffff;
  }
}
@media screen and (min-width:1200px) {
  .header .navbar .logo ~ .navbar-collapse {
    padding-left: 4.8rem;
  }
}
@media (min-width: 992px) {
  .header .navbar.navbar-sticky .navbar-nav > li > a {
    color: #ffffff;
  }
}
.header .navbar.navbar-sticky .navbar-nav > li > a:hover {
  color: #FF4F40;
}
.header .navbar.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(3, 27, 78, 0.1);
  animation: navbarFixed 0.8s;
}
.header .navbar.navbar-fixed .navbar-brand .logo-dark {
  display: inline-block;
}
.header .navbar.navbar-fixed .navbar-brand .logo-light {
  display: none;
}
.header .navbar.navbar-fixed .navbar-nav > li a {
  color: #222222;
  line-height: 1;
}
@media screen and (max-width:991px) {
  .header .navbar.navbar-fixed .navbar-nav > li a:hover {
    background-color: #007BFF;
    color: #ffffff;
  }
}
.header .navbar.navbar-fixed .navbar-nav > li:hover a, .header .navbar.navbar-fixed .navbar-nav > li.active a {
  color: #FF4F40;
}
@media screen and (max-width:991px) {
  .header .navbar.navbar-fixed .navbar-nav > li:hover, .header .navbar.navbar-fixed .navbar-nav > li.active {
    background-color: #FF4F40;
  }
  .header .navbar.navbar-fixed .navbar-nav > li:hover a, .header .navbar.navbar-fixed .navbar-nav > li.active a {
    color: #ffffff;
  }
}
.header .chat-header {
  gap: 1.2rem;
}
@media screen and (max-width:991px) {
  .header .chat-header {
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-top: 0.1rem solid #e7e7e7;
  }
}
.header .chat-header .avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}
.header .chat-header .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.header .chat-header .message-text,
.header .chat-header .action-button {
  font-size: 1.4rem;
}
.header .chat-header .action-button {
  font-weight: 500;
}
.header .chat-header .action-button .ic-mask {
  --theme-ic-width: .8rem;
  --theme-ic-height: .8rem;
}

@media (min-width: 992px) {
  .admin-bar .header .navbar.navbar-fixed {
    top: 3.2rem;
  }
}

@keyframes navbarFixed {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 991px) {
  .navbar .navbar-brand {
    margin-left: 15px;
    height: 100px;
    line-height: 100px;
  }
  .navbar .navbar-toggler {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    outline: none;
    margin-right: 30px;
    padding: 0;
  }
}
@media only screen and (max-width: 991px) and (min-width: 992px) {
  .navbar .navbar-toggler {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-color: transparent;
  }
  .navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon:before, .navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon:after {
    top: 0;
  }
  .navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    transform: rotate(45deg);
  }
  .navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-45deg);
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: relative;
    transition: 0.4s ease-in-out;
  }
  .navbar .navbar-toggler .navbar-toggler-icon:before, .navbar .navbar-toggler .navbar-toggler-icon:after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    transition: 0.4s ease-in-out;
  }
  .navbar .navbar-toggler .navbar-toggler-icon:before {
    top: -10px;
  }
  .navbar .navbar-toggler .navbar-toggler-icon:after {
    top: 10px;
  }
  .navbar .navbar-collapse {
    background-color: #ffffff;
  }
  .navbar.navbar-fixed .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-color: transparent;
  }
  .navbar.navbar-fixed .navbar-toggler .navbar-toggler-icon {
    background-color: #FF4F40;
  }
  .navbar.navbar-fixed .navbar-toggler .navbar-toggler-icon:before, .navbar.navbar-fixed .navbar-toggler .navbar-toggler-icon:after {
    background-color: #FF4F40;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .module .module-icon,
  .module-consultation .btn {
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.breadcrumbs {
  padding-top: 2.5rem;
  padding-bottom: 2.8rem;
  background-color: #F4F4F4;
}
.breadcrumbs + .has-breadcrumbs {
  margin-top: 5.6rem;
}
.breadcrumbs .title {
  font-size: 2.2rem;
}
.breadcrumbs .title a {
  color: inherit;
}
.breadcrumbs span {
  margin: 0 0.4rem;
  font-size: 1.4rem;
  color: #888888;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.breadcrumbs span:first-child {
  margin-left: 0;
}
.breadcrumbs span:hover, .breadcrumbs span.current-item {
  color: #FF4F40;
}

.widget.recent-post-widget .post-list .item .image {
  position: relative;
  overflow: hidden;
}
.widget.recent-post-widget .post-list .item .image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.widget.recent-post-widget .post-list .item .image img {
  transition: all 0.4s ease-in-out;
}
.widget.recent-post-widget .post-list .item .image:hover:after {
  opacity: 1;
}
.widget.recent-post-widget .post-list .item .image:hover img {
  transform: scale(1.1);
}

.sticky-contact-panel .panel-item, .btn-link, .header .navbar .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: block;
  float: none;
  text-align: center;
  margin-top: 2.4rem;
}

.page-numbers {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-numbers li {
  display: inline-block;
}
.page-numbers li span,
.page-numbers li a {
  display: block;
  cursor: pointer;
  border: 1px solid #888888;
  padding: 0.4rem 1.2rem;
  position: relative;
  border-radius: 0.4rem;
}
.page-numbers li span.current,
.page-numbers li a:hover {
  background: #FF4F40;
  border-color: #FF4F40;
  color: #fff;
}

.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget.widget_text p:last-child {
  margin-bottom: 0;
}

/*------------------------------------*\
    #Menu
\*------------------------------------*/
@media (min-width: 992px) {
  .header .module-container {
    margin-left: 4rem;
  }
}
@media screen and (max-width:991px) {
  .header .module-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .header .module-container .module-cta {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.header .module-container .module-cta .btn {
  width: auto;
  height: auto;
  min-height: 4rem;
  padding: 0 2.4rem;
  cursor: pointer;
  color: #FF4F40;
  text-transform: capitalize;
  line-height: normal;
  border: 0;
  border-radius: 0.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: inherit;
  transition: all 0.4s ease-in-out;
  outline: none;
}
.header .module-container .module-cta .btn:hover {
  background-color: #FF4F40;
  color: #ffffff;
}
@media screen and (max-width:991px) {
  .header .module-container .module-cta .btn {
    color: #ffffff;
    background-color: #FF4F40;
  }
}
.header.header-default {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #ffffff;
}
.header.header-default .module-cta .btn {
  background-color: #FF4F40;
  color: #ffffff;
}
.header.header-default .navbar-toggler.collapsed .navbar-toggler-icon {
  background-color: #FF4F40;
}
.header.header-default .navbar-toggler .navbar-toggler-icon::before, .header.header-default .navbar-toggler .navbar-toggler-icon::after {
  background-color: #FF4F40;
}
@media (min-width: 992px) {
  .header.header-transparent .module-cta .btn {
    background-color: #ffffff;
  }
}
.header .navbar-fixed .module-container .module-cta .btn {
  background-color: #FF4F40;
  color: #ffffff;
}
.header .navbar-fixed .module-container .module-cta .btn:hover {
  background-color: #222222;
}

/*------------------------------------*\
    #Carousel
\*------------------------------------*/
.carousel-dots .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.carousel-dots .owl-dots.disabled {
  display: flex;
}
.carousel-dots .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border: solid 1px #FF4F40;
  background-color: #FF4F40;
  border-radius: 50%;
  margin-right: 13px;
}
.carousel-dots .owl-dots .owl-dot span {
  display: none;
}
.carousel-dots .owl-dots .owl-dot.active {
  background-color: #ffffff;
  border: 2px solid #FF4F40;
}
.carousel-dots .owl-dots .owl-dot:hover, .carousel-dots .owl-dots .owl-dot:focus {
  outline: none;
}

.carousel-navs .owl-nav.disabled {
  display: flex;
}
.carousel-navs .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  color: #FF4F40;
}
@media screen and (max-width: 1200px) {
  .carousel-navs .owl-nav [class*=owl-] {
    display: none;
  }
}
.carousel-navs .owl-nav [class*=owl-] span {
  display: none;
}
.carousel-navs .owl-nav [class*=owl-] .efa-icon-mask {
  --efa-icon-width: 3rem;
  --efa-icon-height: 3rem;
  --efa-icon-color: #FF4F40;
}
.carousel-navs .owl-nav [class*=owl-]:hover .efa-icon-mask {
  --efa-icon-color: #222222;
}
.carousel-navs .owl-nav .owl-prev {
  left: -40px;
  transform: translateY(50%);
}
@media screen and (max-width: 991px) {
  .carousel-navs .owl-nav .owl-prev {
    left: 0;
  }
}
.carousel-navs .owl-nav .owl-next {
  right: -40px;
}
@media screen and (max-width: 991px) {
  .carousel-navs .owl-nav .owl-next {
    right: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .carousel-dots .owl-controls {
    margin-top: 20px;
  }
}
/*------------------------------------*\
    #Footer
\*------------------------------------*/
.footer {
  color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/bk-footer.webp");
}
.footer p:last-child {
  margin-bottom: 0;
}
.footer .widget {
  display: flex;
  flex-direction: column;
  row-gap: 4.8rem;
  font-size: 1.4rem;
  line-height: 1.8;
}
.footer .widget + .widget {
  margin-top: 4.8rem;
}
.footer .widget .widget-title {
  margin: 0;
  color: #ffffff;
  font-size: 2.6rem;
  font-weight: 600;
}
.footer .list-unstyled {
  margin-bottom: 0;
}
.footer .navbar-brand {
  margin-right: 0;
  margin-bottom: 7px;
}
.footer ul {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}
.footer ul li {
  padding: 0;
}
.footer ul li a {
  color: #ffffff;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  transition: 0.4s ease-in-out;
}
.footer ul li a:hover {
  color: #FF4F40;
}
.footer .contact-info-widget .contact-image a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.6rem;
}
.footer .contact-info-widget .contact-image a img {
  max-width: 100%;
}
.footer .social-widget .list-social {
  display: grid;
  gap: 2.4rem 1.2rem;
  grid-template-columns: repeat(2, 1fr);
}
.footer .social-widget .list-social a {
  color: #979797;
  font-weight: 500;
}
.footer .social-widget .list-social a:hover {
  color: #FF4F40;
}
.footer .footer-widgets-container {
  padding-top: 9.2rem;
  padding-bottom: 5rem;
}
.footer .footer-widgets-container + .container .footer-copyright {
  border-top: 1px solid #2F2F2F;
}
.footer .footer-widgets-container .row {
  row-gap: 4.8rem;
}
.footer .footer-copyright-mini {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  color: #868E96;
}
.footer .footer-copyright-mini a {
  color: #FF4F40;
}
.footer .footer-copyright {
  padding-top: 5rem;
  padding-bottom: 8rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #979797;
  display: grid;
  gap: 2.4rem;
}
.footer .footer-copyright a {
  color: #FF4F40;
}
.footer .footer-copyright a:hover {
  color: #222222;
}
.footer .footer-copyright .footer-social ul {
  margin-bottom: 0;
}
.footer .footer-copyright .footer-social ul li {
  display: inline-block;
  margin-right: 15px;
}
.footer .footer-copyright .footer-social ul li:last-child {
  margin-right: 0;
}
.footer .footer-copyright .footer-social ul li a {
  font-size: 1.5rem;
  color: #868E96;
}
.footer .footer-copyright .footer-social ul li a:hover {
  color: #FF4F40;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer-copyright {
    font-size: 1.2rem;
  }
}