/**
# Root
-----------------------------------------------------------------------------*/
button, a {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

:root {
  --theme-primary: #3498db;
  --theme-secondary: #2ecc71;
  --theme-accent: #e74c3c;
  --theme-success: #28a745;
  --theme-error: #dc3545;
  --theme-warning: #ffc107;
  --theme-info: #17a2b8;
  --theme-black: #000000;
  --theme-white: #ffffff;
  --theme-ff-base: "Poppins", sans-serif;
  --theme-ff-heading: "Roboto Slab", sans-serif;
  --theme-fs-xs: 1.4rem;
  --theme-fs-sm: 1.6rem;
  --theme-fs-md: 1.8rem;
  --theme-fs-lg: 2rem;
  --theme-fs-xl: 2.4rem;
  --theme-fs-xxl: 2.8rem;
  --theme-fs-3xl: 3.2rem;
  --theme-fw-regular: 400;
  --theme-fw-medium: 500;
  --theme-fw-bold: 700;
  --theme-spacing-0: 0rem;
  --theme-spacing-1: 0.4rem;
  --theme-spacing-2: 0.8rem;
  --theme-spacing-3: 1.2rem;
  --theme-spacing-4: 1.6rem;
  --theme-spacing-5: 2rem;
  --theme-spacing-6: 2.4rem;
  --theme-spacing-7: 2.8rem;
  --theme-spacing-8: 3.2rem;
}

button, a {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

html {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  word-break: break-word;
  display: flex;
  flex-direction: column;
}

:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

p:last-child {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 0.1rem solid var(--theme-accent);
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;
  margin-bottom: var(--theme-spacing-6);
}

input, button, textarea {
  padding: var(--theme-spacing-1) var(--theme-spacing-6);
}

a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.sticky-footer {
  flex: 1 0 auto;
}

#site-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 99999;
}

#back-top {
  --theme-bt-square: 4rem;
  background-color: var(--theme-accent);
  width: var(--theme-bt-square);
  height: var(--theme-bt-square);
  opacity: 0;
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 1.5rem;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
}
#back-top a {
  color: var(--theme-white);
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}
#back-top.active_top {
  opacity: 1;
  bottom: 1.5rem;
}
#back-top:hover {
  background-color: var(--theme-black);
}

.site-container {
  --theme-pd-site-container: 5rem 0;
  padding: var(--theme-pd-site-container);
}
.site-container.site-container-elementor {
  --theme-pd-site-container: 0;
}

.site-page-content p::after {
  display: table;
  clear: both;
  content: "";
}

a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.wp-caption.alignnone, .alignnone, a img.alignnone {
  margin: 0.5rem 2rem 2rem 0;
}

.aligncenter {
  margin: 0.5rem auto;
}

.wp-caption.alignright, .alignright, a img.alignright {
  margin: 0.5rem 0 2rem 2rem;
}

.wp-caption.alignleft, .alignleft, a img.alignleft {
  margin: 0.5rem 2rem 2rem 0;
}

.aligncenter {
  display: block;
}

.alignright, a img.alignright {
  float: right;
}

.alignleft, a img.alignleft {
  float: left;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background-color: var(--theme-white);
  border: 0.1rem solid var(--theme-primary);
  max-width: 96%;
  padding: 0.5rem 0.3rem 1rem;
  text-align: center;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  --theme-padding-caption: 0 .4rem .5rem;
  font-size: var(--theme-fs-sm);
  margin: 0;
  padding: var(--theme-padding-caption);
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(0.1rem, 0.1rem, 0.1rem, 1px);
  position: absolute !important;
  white-space: nowrap;
  width: 0.1rem;
  height: 0.1rem;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  clip: auto !important;
  color: var(--theme-accent);
  display: block;
  height: auto;
  width: auto;
  top: 0.5rem;
  left: 0.5rem;
  line-height: normal;
  padding: 1.5rem 2.3rem 1.4rem;
  text-decoration: none;
  z-index: 100000;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
}

.bypostauthor,
.sticky {
  color: var(--theme-accent);
}

form.post-password-form p label {
  margin: 0;
}
form.post-password-form p input {
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  padding: 0.4rem 1rem;
  margin-left: 1rem;
}
form.post-password-form p input[type=submit] {
  border-radius: 0.4rem;
  background-color: var(--theme-primary);
  border: none;
  color: var(--theme-white);
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
}

/**
# Utilities
-----------------------------------------------------------------------------*/
a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.theme-text-primary {
  color: var(--theme-primary);
}

.theme-bg-primary {
  background-color: var(--theme-primary);
}

.theme-text-secondary {
  color: var(--theme-secondary);
}

.theme-bg-secondary {
  background-color: var(--theme-secondary);
}

.theme-text-accent {
  color: var(--theme-accent);
}

.theme-bg-accent {
  background-color: var(--theme-accent);
}

.theme-text-success {
  color: var(--theme-success);
}

.theme-bg-success {
  background-color: var(--theme-success);
}

.theme-text-error {
  color: var(--theme-error);
}

.theme-bg-error {
  background-color: var(--theme-error);
}

.theme-text-warning {
  color: var(--theme-warning);
}

.theme-bg-warning {
  background-color: var(--theme-warning);
}

.theme-text-info {
  color: var(--theme-info);
}

.theme-bg-info {
  background-color: var(--theme-info);
}

.theme-text-black {
  color: var(--theme-black);
}

.theme-bg-black {
  background-color: var(--theme-black);
}

.theme-text-white {
  color: var(--theme-white);
}

.theme-bg-white {
  background-color: var(--theme-white);
}

a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.theme-ff-base {
  font-family: var(--theme-ff-base);
}

.theme-ff-heading {
  font-family: var(--theme-ff-heading);
}

.theme-fs-xs {
  font-size: var(--theme-fs-xs);
}

.theme-fs-sm {
  font-size: var(--theme-fs-sm);
}

.theme-fs-md {
  font-size: var(--theme-fs-md);
}

.theme-fs-lg {
  font-size: var(--theme-fs-lg);
}

.theme-fs-xl {
  font-size: var(--theme-fs-xl);
}

.theme-fs-xxl {
  font-size: var(--theme-fs-xxl);
}

.theme-fs-3xl {
  font-size: var(--theme-fs-3xl);
}

.theme-fw-regular {
  font-weight: var(--theme-fw-regular);
}

.theme-fw-medium {
  font-weight: var(--theme-fw-medium);
}

.theme-fw-bold {
  font-weight: var(--theme-fw-bold);
}

/**
# Layout
-----------------------------------------------------------------------------*/
a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.main-header {
  background-color: #ffffff;
  box-shadow: 0 0.3rem 0.3rem -0.3rem rgba(0, 0, 0, 0.3);
}
.main-header__warp {
  position: relative;
  display: flex;
  gap: 2.4rem;
  min-height: 6.4rem;
}
.main-header .logo {
  --theme-logo-padding: var(--theme-spacing-2);
}
@media (min-width: 992px) {
  .main-header .logo {
    flex: 0 0 auto;
  }
}
@media (max-width: 991px) {
  .main-header .logo {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
}
.main-header .logo a {
  display: inline-block;
  padding-top: var(--theme-logo-padding);
  padding-bottom: var(--theme-logo-padding);
  max-width: var(--theme-max-width-logo, 16rem);
}
.main-header .primary-menu {
  --theme-menu-item-padding: 0 1.2rem;
  flex: 1;
}
@media (max-width: 991px) {
  .main-header .primary-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #eeeeee;
    z-index: 99;
  }
  .main-header .primary-menu .collapse {
    display: none !important;
  }
  .main-header .primary-menu .collapse.in {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .main-header .primary-menu > ul {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .main-header .primary-menu > ul > li {
    display: inline-flex;
    height: 100%;
    align-items: center;
  }
}
.main-header .primary-menu > ul > li > a {
  padding: var(--theme-menu-item-padding);
}
.main-header .primary-menu ul {
  padding: 0;
  margin: 0;
}
.main-header .primary-menu ul li {
  position: relative;
}
@media (min-width: 992px) {
  .main-header .primary-menu ul li:hover > .sub-menu {
    top: 100%;
    z-index: 999;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 991px) {
  .main-header .primary-menu ul li {
    display: block;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  .main-header .primary-menu ul li:last-child {
    border-bottom: 0;
  }
}
.main-header .primary-menu ul li a {
  text-shadow: none;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .main-header .primary-menu ul li a {
    --theme-menu-item-padding: 0 .8rem;
    display: block;
  }
}
@media (max-width: 991px) {
  .main-header .primary-menu ul li a {
    --theme-menu-item-padding: .8rem;
    display: inline-block;
  }
}
.main-header .primary-menu ul li a:hover {
  background-color: transparent;
  color: var(--theme-accent);
}
.main-header .primary-menu ul li:last-child a {
  padding-right: 0;
}
@media (max-width: 991px) {
  .main-header .primary-menu ul li .sub-menu-toggle {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 1.2rem;
    height: 2rem;
  }
  .main-header .primary-menu ul li .sub-menu-toggle.active::after {
    content: "\f068";
  }
}
.main-header .primary-menu ul li .sub-menu-toggle::after {
  transition: all 0.4s ease-in-out;
}
.main-header .primary-menu ul li.current-menu-item > a, .main-header .primary-menu ul li.current-menu-parent > a {
  color: var(--theme-accent);
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main-header .primary-menu ul li:nth-last-child(1) .sub-menu, .main-header .primary-menu ul li:nth-last-child(2) .sub-menu {
    left: auto;
    right: 0;
  }
  .main-header .primary-menu ul li:nth-last-child(1) .sub-menu li .sub-menu, .main-header .primary-menu ul li:nth-last-child(2) .sub-menu li .sub-menu {
    left: auto;
    right: 90%;
  }
  .main-header .primary-menu ul li:nth-last-child(1) .sub-menu li:hover > .sub-menu, .main-header .primary-menu ul li:nth-last-child(2) .sub-menu li:hover > .sub-menu {
    left: auto;
    right: 100%;
  }
}
@media (min-width: 992px) {
  .main-header .primary-menu ul li .sub-menu {
    display: block !important;
    min-width: 16rem;
    border-top: 0.1rem solid var(--theme-accent);
    background-color: var(--theme-white);
    position: absolute;
    top: 120%;
    left: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0.3rem 0.3rem -0.3rem rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }
  .main-header .primary-menu ul li .sub-menu li {
    padding: 0.6rem 0.8rem;
    display: flex;
  }
  .main-header .primary-menu ul li .sub-menu li a {
    white-space: nowrap;
    flex: 1;
  }
  .main-header .primary-menu ul li .sub-menu li .sub-menu {
    left: 90%;
    top: -0.1rem;
  }
  .main-header .primary-menu ul li .sub-menu li:hover > .sub-menu {
    left: 100%;
  }
  .main-header .primary-menu ul li .sub-menu li:hover > .sub-menu-toggle::after {
    transform: rotate(-90deg);
  }
}
@media (max-width: 991px) {
  .main-header .primary-menu ul li .sub-menu {
    display: none;
    border-top: 0;
    background-color: transparent;
  }
  .main-header .primary-menu ul li .sub-menu li {
    border-bottom: 0;
    padding: 0;
  }
  .main-header .primary-menu ul li .sub-menu li a {
    padding: 0.8rem;
  }
  .main-header .primary-menu ul li .sub-menu li a:before {
    content: "\f111";
    display: inline-block;
    font-family: "Font Awesome 6 Free", serif;
    font-style: normal;
    font-weight: var(--theme-fw-regular);
    font-size: 1rem;
    margin-right: 1rem;
  }
  .main-header .primary-menu ul li .sub-menu li .sub-menu-toggle {
    top: 0.5rem;
  }
  .main-header .primary-menu ul li .sub-menu li .sub-menu {
    padding-left: 2rem;
  }
}
.main-header .primary-menu .sub-menu-toggle {
  font-size: var(--theme-fs-xs);
  cursor: pointer;
}
.main-header .primary-menu .sub-menu-toggle::after {
  display: inline-block;
  font-family: "Font Awesome 6 Free", serif;
  font-style: normal;
  font-weight: 900;
}
@media (min-width: 992px) {
  .main-header .primary-menu .sub-menu-toggle::after {
    content: "\f078";
  }
}
@media (max-width: 991px) {
  .main-header .primary-menu .sub-menu-toggle::after {
    content: "+";
  }
}
.main-header .widget-cart-warp {
  position: relative;
  flex: 0;
}
.main-header .widget-cart-warp .cart-customlocation {
  position: relative;
  cursor: pointer;
}
.main-header .widget-cart-warp .cart-customlocation i {
  font-size: 1.8rem;
  padding-right: 1.5rem;
}
.main-header .widget-cart-warp .cart-customlocation .number-cart-product {
  position: absolute;
  font-size: var(--theme-fs-sm);
  color: #ffffff;
  top: -1.2rem;
  right: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-accent);
}
.main-header .widget-cart-warp .widget_shopping_cart {
  position: absolute;
  top: 120%;
  right: 0;
  width: 30rem;
  padding: 2rem 1.5rem;
  background-color: var(--theme-white);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 1.5rem -0.5rem rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}
.main-header .widget-cart-warp .widget_shopping_cart .widgettitle {
  display: none;
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .cart_list {
  margin-bottom: 2rem;
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .cart_list li {
  padding: 0;
  margin-bottom: 1.5rem;
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .cart_list li:last-child {
  margin-bottom: 0;
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .cart_list li a {
  font-weight: var(--theme-fw-regular);
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .cart_list li a.remove {
  top: -0.3rem;
  left: auto;
  right: 0;
  width: auto;
  height: auto;
  font-size: 3.2rem;
  color: var(--theme-black) !important;
  line-height: inherit;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .cart_list li a.remove:hover {
  color: var(--theme-accent) !important;
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .cart_list li a img {
  float: left;
  margin: 0 1rem 0 0;
  width: 5rem;
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .cart_list li .woocommerce-Price-amount {
  font-weight: var(--theme-fw-bold);
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__total {
  padding: 1.5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__total .woocommerce-Price-amount {
  font-weight: var(--theme-fw-bold);
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__buttons:before, .main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__buttons:after {
  display: none;
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__buttons a {
  padding: 0 4rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}
.main-header .widget-cart-warp .widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__buttons a:last-child {
  margin-bottom: 0;
}
.main-header .widget-cart-warp:hover .widget_shopping_cart {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 992px) {
  .active-sticky-nav {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .admin-bar .active-sticky-nav {
    top: 3.2rem;
  }
}
a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.search-form {
  --theme-search-field-padding: .9rem 1rem;
  font-size: var(--theme-fs-xs);
}
.search-form .search-field {
  height: auto;
  padding: var(--theme-search-field-padding);
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  box-shadow: none;
}
.search-form .search-submit {
  background-color: var(--theme-accent);
  color: var(--theme-white);
  padding: var(--theme-search-field-padding);
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: all 0.4s ease-in-out;
}

.widget ~ .widget {
  margin-top: var(--theme-spacing-4);
}
.widget:last-child {
  margin-bottom: 0;
}
.widget .widget-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: var(--theme-fs-sm);
}
.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.widget ul li a {
  display: block;
}
.widget ul li ul.children, .widget ul li ul.sub-menu {
  padding-left: 1.2rem;
  padding-top: 0.8rem;
}
.widget ul li ul.children li, .widget ul li ul.sub-menu li {
  border-bottom: 0;
  padding: 0 0 1rem;
}
.widget ul li ul.children li:last-child, .widget ul li ul.sub-menu li:last-child {
  padding-bottom: 0;
}
.widget select {
  width: 100%;
  padding: 0.9rem 1rem;
  font-size: var(--theme-fs-xs);
}
.widget.widget_search .search-form {
  display: flex;
}
.widget.widget_search .search-form .search-field {
  flex: 1;
}
.widget.widget_search .search-form .search-submit {
  margin-left: 1rem;
}
.widget.widget_archive ul li a, .widget.widget_categories ul li a {
  display: inline-block;
  margin-right: 0.5rem;
}
.widget.widget_calendar table {
  width: 100%;
}
.widget.widget_calendar table caption {
  padding: 0;
  margin-top: var(--theme-spacing-3);
}
.widget.widget_calendar table tr {
  border-bottom: 1px solid var(--theme-primary);
}
.widget.widget_calendar table tr th {
  text-align: center;
}
.widget.widget_calendar table tr td {
  padding: 0.5rem 0;
  text-align: center;
}
.widget.widget_calendar table tr td#today {
  background-color: var(--theme-accent);
  color: var(--theme-white);
}
.widget.widget_calendar table tr td#today a {
  color: var(--theme-white);
}
.widget.widget_calendar table tr td#prev {
  text-align: left;
}
.widget.widget_calendar table tr td#next {
  text-align: right;
}
.widget.widget_rss ul li {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.widget.widget_rss ul li .rssSummary {
  font-size: var(--theme-fs-xs);
}
.widget.widget_tag_cloud .tagcloud a, .widget.widget_product_tag_cloud .tagcloud a {
  display: inline-block;
  font-size: var(--theme-fs-xs) !important;
  border: 0.1rem solid #ddd;
  padding: 0.5rem 1rem;
  margin: 0 0.2rem 5px;
}
.widget.widget_tag_cloud .tagcloud a:hover, .widget.widget_product_tag_cloud .tagcloud a:hover {
  background-color: var(--theme-accent);
  color: var(--theme-white);
  border-color: var(--theme-accent);
}
.widget.recent-post-widget .post-list .item {
  margin-bottom: 1.2rem;
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: 11rem 1fr;
}
.widget.recent-post-widget .post-list .item:last-child {
  margin-bottom: 0;
}
.widget.recent-post-widget .post-list .image {
  width: 11rem;
  flex: 0 0 auto;
}
.widget.recent-post-widget .post-list .title {
  margin-bottom: 1rem;
  font-size: var(--theme-fs-sm);
  overflow: hidden;
}
.widget.recent-post-widget .post-list .meta {
  font-size: 1.2rem;
}
.widget.recent-post-widget .post-list .meta i.fa {
  margin-right: 0.5rem;
}
.widget.contact-info-widget .list {
  display: grid;
  gap: 1.2rem;
}
.widget.contact-info-widget .list .item {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 2.4rem 1fr;
  align-items: center;
}
.widget.contact-info-widget .list .item i {
  font-size: var(--theme-fs-md);
  text-align: center;
}

a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.global-footer__column {
  border-top: 0.1rem solid var(--theme-primary);
  padding: 3rem 0;
}
.global-footer__bottom {
  padding: 1rem 0;
  color: var(--theme-white);
  background-color: var(--theme-black);
}

/**
# Components
-----------------------------------------------------------------------------*/
a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.breadcrumbs .breadcrumbs-col {
  padding: 1.5rem 0;
  border-bottom: 0.1rem solid var(--theme-primary);
}

a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

form.wpcf7-form br {
  display: none;
}
form.wpcf7-form p {
  position: relative;
  margin: 0;
}
form.wpcf7-form p + p {
  margin-top: var(--theme-margin-top-p, var(--theme-spacing-2));
}
form.wpcf7-form .ajax-loader {
  position: absolute;
  top: 0.8rem;
}
form.wpcf7-form label {
  display: block;
  font-weight: var(--theme-fw-medium);
}
form.wpcf7-form label .wpcf7-form-control-wrap {
  margin-top: var(--theme-margin-top-control, var(--theme-spacing-2));
}
form.wpcf7-form span.required {
  color: var(--theme-error);
}
form.wpcf7-form .wpcf7-form-control-wrap {
  display: block;
}
form.wpcf7-form .wpcf7-form-control-wrap input,
form.wpcf7-form .wpcf7-form-control-wrap textarea {
  height: auto;
  width: 100%;
  display: block;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  background-color: var(--theme-white);
  color: var(--theme-black);
}
form.wpcf7-form .wpcf7-form-control-wrap input:focus,
form.wpcf7-form .wpcf7-form-control-wrap textarea:focus {
  border-color: var(--theme-primary);
}
form.wpcf7-form .wpcf7-form-control-wrap textarea {
  height: var(--theme-h-textarea, 10rem);
}
form.wpcf7-form .wpcf7-submit {
  color: var(--theme-white);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.4rem;
  background: var(--theme-black);
  transition: all 0.4s ease-in-out;
}
form.wpcf7-form .wpcf7-submit:hover {
  --theme-black: var(--theme-primary);
}
form.wpcf7-form .wpcf7-not-valid-tip {
  color: var(--theme-error);
}
form.wpcf7-form.invalid .wpcf7-response-output {
  margin: var(--theme-margin-res, var(--theme-spacing-3) 0 0);
  padding: var(--theme-padding-res, var(--theme-spacing-2));
  border: 0.1rem solid var(--theme-warning);
}

a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.comments-area {
  padding: var(--theme-spacing-6) 0;
}
@media (max-width: 480px) {
  .comments-area ul li ul.children {
    padding-left: var(--theme-spacing-2);
  }
}
.comments-area a,
.comments-area .required {
  color: var(--theme-error);
}
.comments-area__title {
  margin-bottom: var(--theme-spacing-4);
  position: relative;
  font-size: var(--theme-fs-md);
}
.comments-area__list {
  margin-bottom: var(--theme-spacing-6);
  list-style: none;
  padding-left: 0;
}
.comments-area__list .comment:not(:last-child) {
  margin-bottom: var(--theme-spacing-6);
}
.comments-area__list .comment__body {
  padding: var(--theme-spacing-3);
  border-radius: 0.4rem;
  border: 0.1rem solid #ddd;
}
.comments-area__list .comment__body > div:not(:last-child) {
  margin-bottom: var(--theme-spacing-3);
}
.comments-area__list .comment__body .author {
  display: grid;
  grid-gap: var(--theme-spacing-6);
  grid-template-columns: 6rem 1fr;
}
.comments-area__list .comment__body .author img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}
.comments-area__list .comment__body .author__info span {
  display: block;
}
.comments-area__list .comment__body .author__info .name {
  font-weight: var(--theme-fw-bold);
}
.comments-area__list .comment__body .author__info .date {
  font-size: var(--theme-fs-sm);
}
.comments-area__list .comment__body .action {
  font-size: var(--theme-fs-sm);
}
.comments-area__list .comment__body .action a {
  display: inline-block;
}
.comments-area__list .comment__body .action a:not(:last-child) {
  margin-right: var(--theme-spacing-3);
}
.comments-area__list .comment__body .action a:hover {
  color: var(--theme-black);
}
.comments-area__list .children {
  margin-top: var(--theme-spacing-6);
  padding-left: var(--theme-spacing-3);
  list-style: none;
}
.comments-area__list .comment-respond {
  margin-top: var(--theme-spacing-6);
}
.comments-area .comment-reply-title {
  font-size: var(--theme-fs-md);
}
.comments-area .comment-reply-title small {
  margin-left: var(--theme-spacing-4);
  font-weight: var(--theme-fw-regular);
  font-size: var(--theme-fs-sm);
}
.comments-area .comment-form {
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.comments-area .comment-form .comment-notes {
  order: 1;
}
@media (min-width: 576px) {
  .comments-area .comment-form .comment-fields-row {
    margin-bottom: var(--theme-spacing-6);
  }
}
.comments-area .comment-form input,
.comments-area .comment-form textarea {
  display: block;
  width: 100%;
  height: auto;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
}
.comments-area .comment-form .form-comment-field {
  margin-bottom: var(--theme-spacing-6);
}
.comments-area .comment-form .form-submit {
  order: 4;
}
.comments-area .comment-form .form-submit input {
  cursor: pointer;
  display: inline-block;
  width: auto;
  color: var(--theme-white);
  background-color: var(--theme-primary);
  border: none;
  border-radius: 0.4rem;
  transition: all 0.4s ease-in-out;
}
.comments-area .comment-form .form-submit input:hover {
  color: var(--theme-white);
  border-color: var(--theme-accent);
  background-color: var(--theme-accent);
}

a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.pagination {
  display: block;
  float: none;
  text-align: center;
  margin-top: var(--theme-spacing-6);
}

.page-numbers {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-numbers li {
  display: inline-block;
}
.page-numbers li span,
.page-numbers li a {
  display: block;
  cursor: pointer;
  border: 0.1rem solid #ddd;
  padding: var(--theme-spacing-1) var(--theme-spacing-3);
  position: relative;
  border-radius: 0.4rem;
}
.page-numbers li span.current,
.page-numbers li a:hover {
  background: var(--theme-accent);
  border-color: var(--theme-accent);
  color: var(--theme-white);
}

a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.owl-carousel .owl-nav {
  text-align: center;
  margin-top: var(--theme-spacing-3);
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  margin: 0 var(--theme-spacing-2);
  color: var(--theme-black);
  font-size: var(--theme-fs-lg);
  line-height: normal;
  transition: all 0.4s ease-in-out;
}
.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  color: var(--theme-accent);
}
.owl-carousel .owl-dots {
  margin-top: var(--theme-spacing-4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  margin: 0 var(--theme-spacing-1);
}
.owl-carousel .owl-dots .owl-dot span {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--theme-black);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
  background-color: var(--theme-accent);
}

.custom-equal-height-owl .owl-stage {
  display: flex;
}
.custom-equal-height-owl .owl-stage .owl-item {
  display: flex;
  flex: 1 0 auto;
}

a, button {
  outline: none;
}

form.wpcf7-form p:has(.wpcf7-submit) {
  display: flex;
  align-items: center;
}

.social-network-item {
  display: inline-block;
}
.social-network-item a {
  display: block;
}