@import "../../../shared/scss/abstracts/abstracts";

.global-footer {
  section {
    &.widget {

    }
  }

  &__column {
    border-top: .1rem solid $var-primary-color;
    padding: 3rem 0;
  }

  &__bottom {
    padding: 1rem 0;
    color: $var-white-color;
    background-color: $body-color;
  }
}