@import "../../../shared/scss/abstracts/abstracts";

.search-form {
  --#{$prefix-theme}search-field-padding: .9rem 1rem;

  font-size: $var-fs-xs;

  .search-field {
    height: auto;
    padding: var(--#{$prefix-theme}search-field-padding);
    @include border();
    @include border-radius();
    box-shadow: none;
  }

  .search-submit {
    background-color: $var-accent-color;
    color: $var-white-color;
    padding: var(--#{$prefix-theme}search-field-padding);
    border: none;
    cursor: pointer;
    @include border-radius();
    @include transition();
  }
}

.widget {
  ~ .widget {
    margin-top: var(--#{$prefix-theme}spacing-4);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .widget-title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: $var-fs-sm;
  }

  ul {
    @include reset-list;

    li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      a {
        display: block;
      }

      ul {
        &.children,
        &.sub-menu {
          padding-left: 1.2rem;
          padding-top: .8rem;

          li {
            border-bottom: 0;
            padding: 0 0 1rem;

            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }

  select {
    width: 100%;
    padding: .9rem 1rem;
    font-size: $var-fs-xs;
  }

  &.widget_search {
    .search-form {
      display: flex;

      .search-field {
        flex: 1;
      }

      .search-submit {
        margin-left: 1rem;
      }
    }
  }

  &.widget_archive,
  &.widget_categories {
    ul {
      li {
        a {
          display: inline-block;
          margin-right: .5rem;
        }
      }
    }
  }

  &.widget_calendar {
    table {
      width: 100%;

      caption {
        padding: 0;
        margin-top: var(--#{$prefix-theme}spacing-3);
      }

      tr {
        border-bottom: 1px solid $var-primary-color;

        th {
          text-align: center;
        }

        td {
          padding: .5rem 0;
          text-align: center;

          &#today {
            background-color: $var-accent-color;
            color: $var-white-color;

            a {
              color: $var-white-color;
            }
          }

          &#prev {
            text-align: left;
          }

          &#next {
            text-align: right;
          }
        }
      }
    }
  }

  &.widget_rss {
    ul {
      li {
        padding-bottom: 2rem;
        margin-bottom: 2rem;

        .rssSummary {
          font-size: $var-fs-xs;
        }
      }
    }
  }

  &.widget_tag_cloud,
  &.widget_product_tag_cloud {
    .tagcloud {
      a {
        display: inline-block;
        font-size: $var-fs-xs !important;
        @include border();
        padding: .5rem 1rem;
        margin: 0 .2rem 5px;

        &:hover {
          background-color: $var-accent-color;
          color: $var-white-color;
          border-color: $var-accent-color;
        }
      }
    }
  }

  &.recent-post-widget {
    .post-list {
      .item {
        margin-bottom: 1.2rem;
        display: grid;
        grid-gap: 1.2rem;
        grid-template-columns: 11rem 1fr;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .image {
        width: 11rem;
        flex: 0 0 auto;
      }

      .title {
        margin-bottom: 1rem;
        font-size: $var-fs-sm;
        overflow: hidden;
      }

      .meta {
        font-size: 1.2rem;

        i.fa {
          margin-right: .5rem;
        }
      }
    }
  }

  &.contact-info-widget {
    .list {
      display: grid;
      gap: 1.2rem;

      .item {
        display: grid;
        gap: 1.2rem;
        grid-template-columns: 2.4rem 1fr;
        align-items: center;

        i {
          font-size: $var-fs-md;
          text-align: center;
        }
      }
    }
  }
}