/*------------------------------------*\
    #Menu
\*------------------------------------*/
.header {
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    min-height: 100px;
    border: none;
    padding: 0;

    .navbar-brand {
      margin-right: 0;

      .logo-dark {
        display: none;
      }

      .logo-light {
        display: inline-block;
      }
    }

    .navbar-nav {
      > li {
        margin-right: 30px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        > a {
          font-size: 16px;
          text-transform: capitalize;
          font-weight: 400;
          color: $color-heading;
          line-height: var(--line-height-menu-item);
          padding: 0;
          position: relative;
          display: block;
          transition: 0.3s ease-in-out;
        }

        @media #{$maxTablet} {
          margin-right: 0;

          a {
            margin-right: 0;
            padding: 15px 10px;
            color: $color-heading;
            line-height: 1;
          }

          &.active {
            background-color: $color-secondary;

            a {
              color: $color-white
            }
          }
        }
      }

      li {
        a {
          &:hover {
            color: $color-secondary;
          }
        }
      }
    }

    &.navbar-sticky {
      .navbar-nav {
        > li {
          > a {
            color: $color-white;

            &:hover {
              color: $color-secondary;
            }
          }
        }
      }
    }

    &.navbar-fixed {
      top: 0;
      background: $color-white;
      box-shadow: 0 2px 4px rgba(3, 27, 78, 0.1);
      animation: navbarFixed 0.8s;

      .navbar-brand {
        .logo-dark {
          display: inline-block;
        }

        .logo-light {
          display: none;
        }
      }

      .navbar-nav > {
        li {
          a {
            color: $color-heading;
            line-height: 1;

            @media #{$maxTablet} {
              &:hover {
                background-color: $color-theme;
                color: $color-white;
              }
            }
          }

          &:hover,
          &.active {
            a {
              color: $color-secondary;
            }

            @media #{$maxTablet} {
              background-color: $color-secondary;

              a {
                color: $color-white
              }
            }
          }

        }
      }

    }
  }
}

.admin-bar {
  .header {
    .navbar {
      &.navbar-fixed {
        @media (min-width: 992px) {
          top: 3.2rem;
        }
      }
    }
  }
}

@keyframes navbarFixed {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}