/*------------------------------------*\
    #Menu
\*------------------------------------*/
.header {
  border-bottom: .1rem solid #E7E7E7;

  .container {
    @media #{$minXlarge} {
      gap: 2.4rem;
    }

    @media (max-width: 1199px) {
      gap: 1.2rem;
    }
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    min-height: 10rem;
    border: none;
    padding: 0;

    .navbar-brand {
      padding: 0;
      margin-right: 0;
      max-width: 16rem;
      min-height: 10rem;
      @extend %flex-align-center;

      img {
        width: 100%;
      }

      .logo-dark {
        display: none;
      }

      .logo-light {
        display: inline-block;
      }
    }

    .navbar-nav {
      @media #{$minXlarge} {
        gap: 3.2rem;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        gap: 1.6rem;
      }

      @media #{$maxTablet} {
        border-top: .1rem solid #e7e7e7;
      }

      li {
        a {
          font-size: $font-size-secondary;
          font-weight: 600;
          color: $color-body;
          padding: 0;
          position: relative;
          display: block;
          @include transition();

          &:hover {
            color: $color-secondary;
          }
        }

        .sub-menu {
          list-style: none;

          @media #{$minLarge} {
            position: absolute;
            left: 0;
            top: 110%;
            z-index: 999;
            margin: .7rem 0 0 0;
            padding: 1.6rem;

            width: 26rem;
            border-radius: 1.6rem;
            box-shadow: 0 .3rem 1rem 0 #E1E1E1;
            background-color: #FFFFFF;
            opacity: 0;
            visibility: hidden;
            @include transition();
          }

          @media #{$maxTablet} {
            padding: 0 3.4rem;
          }

          li {
            a {
              font-size: 1.4rem;
              word-break: break-word;
            }

            ~ li {
              margin-top: 1.2rem;

              @media #{$minLarge} {
                padding-top: 1.2rem;
                border-top: 1px solid #EAEAEA;
              }
            }

            &:last-child {
              @media #{$maxTablet} {
                margin-bottom: .4rem;
              }
            }

            &.current-menu-item {
              > a {
                color: $color-secondary;
              }
            }
          }
        }
      }

      > li {
        position: relative;

        @media #{$minLarge} {
          display: flex;
          align-items: center;
        }

        &::after {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          bottom: 0;
          height: .2rem;
          background-color: transparent;
          @include transition();
        }

        &:last-child {
          margin-right: 0;
        }

        &.current-menu-item,
        &.current-menu-parent {
          &::after {
            @media #{$minLarge} {
              background-color: $color-secondary;
            }
          }

          > a {
            color: $color-secondary;
          }
        }

        &:hover {
          .sub-menu {
            @media #{$minLarge} {
              top: 100%;
              opacity: 1;
              visibility: visible;
            }
          }
        }

        @media #{$maxTablet} {
          margin-right: 0;

          > a {
            margin-right: 0;
            padding: 1.5rem 2.5rem;
            color: $color-body;
            line-height: 1;
          }

          &.active {
            background-color: $color-secondary;

            a {
              color: $color-white
            }
          }
        }
      }
    }

    .logo {
      ~ .navbar-collapse {
        @media #{$minXlarge} {
          padding-left: 4.8rem;
        }
      }
    }

    &.navbar-sticky {
      .navbar-nav {
        > li {
          > a {
            @media (min-width: 992px) {
              color: $color-white;
            }

            &:hover {
              color: $color-secondary;
            }
          }
        }
      }
    }

    &.navbar-fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: $color-white;
      box-shadow: 0 2px 4px rgba(3, 27, 78, 0.1);
      animation: navbarFixed 0.8s;

      .navbar-brand {
        .logo-dark {
          display: inline-block;
        }

        .logo-light {
          display: none;
        }
      }

      .navbar-nav > {
        li {
          a {
            color: $color-heading;
            line-height: 1;

            @media #{$maxTablet} {
              &:hover {
                background-color: $color-theme;
                color: $color-white;
              }
            }
          }

          &:hover,
          &.active {
            a {
              color: $color-secondary;
            }

            @media #{$maxTablet} {
              background-color: $color-secondary;

              a {
                color: $color-white
              }
            }
          }
        }
      }
    }
  }

  .chat-header {
    gap: 1.2rem;

    @media #{$maxTablet} {
      margin-bottom: 1.5rem;
      padding-top: 1.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      border-top: .1rem solid #e7e7e7;
    }

    .avatar {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .message-text,
    .action-button {
        font-size: 1.4rem;
    }

    .action-button {
      font-weight: 500;

      .ic-mask {
        --#{$prefix-theme}ic-width: .8rem;
        --#{$prefix-theme}ic-height: .8rem;
      }
    }
  }
}

.admin-bar {
  .header {
    .navbar {
      &.navbar-fixed {
        @media (min-width: 992px) {
          top: 3.2rem;
        }
      }
    }
  }
}

@keyframes navbarFixed {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}