/*------------------------------------*\
    #Menu
\*------------------------------------*/
.header {
  .module-container {
    @media (min-width: 992px) {
      margin-left: 4rem;
    }

    @media #{$maxTablet} {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      padding-left: 0;
    }

    .module-cta {
      @media (max-width: 991px) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }

      .btn {
        width: auto;
        height: auto;
        min-height: 4rem;
        padding: 0 2.4rem;
        cursor: pointer;
        color: $color-secondary;
        text-transform: capitalize;
        line-height: normal;
        border: 0;
        border-radius: .8rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: inherit;
        transition: all 0.4s ease-in-out;
        outline: none;

        &:hover {
          background-color: $color-secondary;
          color: $color-white;
        }

        @media #{$maxTablet} {
          color: $color-white;
          background-color: $color-secondary;
        }
      }
    }
  }

  &.header-default {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: $color-white;
    box-shadow: 0 8px 12px -10px rgba(0,0,0,.03);

    .module-cta {
      .btn {
        background-color: $color-secondary;
        color: $color-white;
      }
    }

    .navbar-toggler {
      &.collapsed {
        .navbar-toggler-icon {
          background-color: $color-secondary;
        }
      }

      .navbar-toggler-icon {
        &::before,
        &::after {
          background-color: $color-secondary;
        }
      }
    }
  }

  &.header-transparent {
    .module-cta {
      .btn {
        @media (min-width: 992px) {
          background-color: $color-white;
        }
      }
    }
  }

  .navbar-fixed {
    .module-container {
      .module-cta {
        .btn {
          background-color: $color-secondary;
          color: $color-white;

          &:hover {
            background-color: $color-heading;
          }
        }
      }
    }
  }
}