/*------------------------------------*\
    #Menu
\*------------------------------------*/
.header {
  .module-container {
    @media (min-width: 992px) {
      margin-left: 4rem;
    }

    @media #{$maxTablet} {
      padding-left: 0;
      margin-top: 15px;
    }

    .module-cta {
      .btn {
        width: auto;
        height: auto;
        padding: 1.4rem 2.6rem;
        cursor: pointer;
        color: $color-secondary;
        text-transform: capitalize;
        line-height: normal;
        border: 0;
        border-radius: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: inherit;
        transition: all 0.4s ease-in-out;
        outline: none;

        &:hover {
          background-color: $color-secondary;
          color: $color-white;
        }

        @media #{$maxTablet} {
          width: 170px;
          height: 40px;
          line-height: 40px;
          font-size: 13px;

          &:before {
            line-height: 40px;
          }
        }
      }
    }
  }

  &.header-default {
    .module-cta {
      .btn {
        background-color: $color-secondary;
        color: $color-white;
      }
    }
  }

  &.header-transparent {
    .module-cta {
      .btn {
        background-color: $color-white;
      }
    }
  }

  .navbar-fixed {
    .module-container {
      .module-cta {
        .btn {
          background-color: $color-secondary;
          color: $color-white;

          &:hover {
            background-color: $color-heading;
          }
        }
      }
    }
  }
}