@import "../../../shared/scss/abstracts/abstracts";

.site-shop {
  padding: 4.8rem 0;

  &__result-count-ordering {
    margin-bottom: 2.4rem;
  }
}

.woocommerce {
  .site-post-item {
    border-bottom: none;
  }

  &--result-count {
    float: none;
    margin: 0;
  }

  .woocommerce-result-count {
    float: none;
    margin: 0;
  }

  .woocommerce-ordering {
    float: none;
    margin: 0;

    select {
      padding: .4rem .8rem;
      border: .1rem solid $var-primary-color;
    }
  }

  .star-rating {
    width: 7em;
    font-size: $var-fs-xs;

    > span {
      color: $var-accent-color;
    }

    &:before,
    > span:before {
      letter-spacing: .32rem;
    }
  }

  ul {
    &.products {
      margin: 0 -1.2rem;
      display: flex;
      flex-flow: row wrap;

      li {
        --column-product: 100%;

        width: var(--column-product);

        &.first {
          clear: none;
        }

        &.product {
          float: none;
          margin: 0 0 1.6rem;
          padding: 0 1.6rem;
          display: flex;

          .onsale {
            top: 1.6rem;
            left: 1.6rem;
            right: unset;
            margin: 0;
            min-width: auto;
            min-height: auto;
            line-height: inherit;
            padding: .4rem 1.8rem;
            font-weight: $var-fw-regular;
            border-radius: 3rem;
            background-color: $var-accent-color;
          }

          .woocommerce-loop-product {
            &__title {
              padding: 0;
              margin: 0 0 1rem;
              overflow: hidden;

              a {
                display: block;
              }
            }
          }

          .price {
            color: $var-accent-color;
            font-size: $var-fs-xs;
            line-height: normal;
            font-weight: $var-fw-bold;
            margin: 0;

            del {
              display: inline-block;
              font-size: $var-fs-xs;
            }

            ins {
              display: inline-block;
              text-decoration: none;
            }
          }

          .button {
            display: inline-block;
            padding: 0;
            line-height: inherit;
            border: none;
            color: $body-color;
            font-weight: $var-fw-bold;
            background-color: transparent;

            &.add_to_cart_button {
              margin: 0;
            }

            &:hover {
              color: $var-accent-color;
            }

            &.added {
              display: none;
            }

            &.loading {
              &:after {
                top: .1rem;
                right: -2em;
              }
            }
          }

          a {
            &.added_to_cart {
              padding: 0;
              font-weight: $var-fw-bold;
              color: $body-color;

              &:hover {
                color: $var-accent-color;
              }

              &:after {
                content: "\f054";
                font-family: $font-awesome-free;
                font-weight: 900;
                font-size: .9rem;
                margin-left: .4rem;
              }
            }
          }

          .star-rating {
            margin: 0 auto 1rem;
          }
        }
      }

      &.columns-5 {
        li {
          &.product {
            --column-product: 20%;
          }
        }
      }

      &.columns-4 {
        li {
          &.product {
            --column-product: 25%;
          }
        }
      }

      &.columns-3 {
        li {
          &.product {
            --column-product: 33.333333%;
          }
        }
      }

      &.columns-3,
      &.columns-4,
      &.columns-5 {
        li {
          &.product {
            @media (min-width: 576px) and (max-width: 991px) {
              --column-product: 33.33333333%;
            }

            @media (max-width: 575px) {
              --column-product: 50%;
            }
          }
        }
      }
    }
  }

  nav {
    &.woocommerce-pagination {
      margin-top: 3rem;

      ul {
        margin: 0;
        border: none;
        display: block;

        li {
          display: inline-block;
          float: none;
          border: none;

          span,
          a {
            display: block;
            cursor: pointer;
            border: .1rem solid $var-primary-color;
            padding: .4rem 1.2rem;
            line-height: inherit;
            min-width: inherit;
            border-radius: .2rem;
          }

          a {
            &:focus {
              background-color: transparent;
              color: $heading-color;
            }
          }

          span.current,
          a:hover {
            color: $var-white-color;
            background: $var-accent-color;
            border-color: $var-accent-color;
          }
        }
      }
    }
  }

  div {
    &.product {
      .woocommerce-tabs {
        ul {
          &.tabs {
            margin: 0;
            padding: 0;

            &::before,
            &::after {
              display: none;
            }

            li {
              border: none;
              margin: 0;
              padding: 1rem 1.6rem;
              border-radius: 0;
              background-color: #323232;

              &::before,
              &::after {
                display: none;
              }

              &.active {
                background-color: $var-accent-color;

                a {
                  color: $var-white-color;
                }
              }

              a {
                padding: 0;
                font-size: 1.5rem;
                font-weight: $var-fw-regular;
                color: $var-white-color;
              }
            }
          }
        }

        .panel {
          border: .1rem solid #eeeeee;
          padding: 1.6rem;

          &.woocommerce-Tabs-panel {
            &--description {
              p {
                margin-bottom: 1rem;
              }
            }
          }
        }

        h2 {
          font-size: $var-fs-md;
          margin-bottom: 2.4rem;
        }
      }
    }
  }

  #reviews {
    .woocommerce-Reviews-title {
      font-size: $var-fs-md;
    }

    #comments {
      ol {
        &.commentlist {
          padding: 0;
        }
      }
    }
  }

  p.stars a,
  .star-rating::before {
    color: $var-accent-color;
  }

  a {
    &.button {
      &.alt {
        background-color: $var-black-color;

        &:hover {
          background-color: $var-accent-color;
        }
      }
    }
  }
}

.site-shop {
  &__product {
    &--item {
      position: relative;
      text-align: center;
      @include flex-column;
      flex: 1;

      a {
        &.woocommerce-loop-product__link {
          display: block;
        }
      }
    }

    &--item-image {
      position: relative;
      overflow: hidden;

      img {
        max-width: none;
        width: 100%;
      }
    }

    &--item-content {
      padding: 1rem .5rem;
      flex: 1 auto;
      @include flex-column;
    }
  }

  &__product-add-to-cart {
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .woocommerce,
  .woocommerce-page {
    .col2-set {
      .col-1,
      .col-2 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}