@import "../../../shared/scss/abstracts/abstracts";

.pswp__bg {
  background-color: rgba(0, 0, 0, 0.9);
}

.woocommerce {
  .site-shop-single {
    .site-shop-single__warp {
      margin: 0 -1.5rem 3rem;
      display: flex;
      flex-flow: row wrap;

      span {
        &.onsale {
          top: 0;
          left: 1.5rem;
        }
      }
    }

    div {
      &.product {
        .site-shop-single__gallery-box {
          width: 50%;
          padding: 0 1.5rem;
          position: relative;
        }

        div {
          &.images {
            float: none;
            width: 100%;
            margin: 0;
          }

          &.summary {
            float: none;
            width: 50%;
            padding: 0 1.5rem;
            margin: 0;

            .woocommerce-product-details__short-description {
              margin-bottom: 1rem;
            }
          }
        }

        .product_title {
          font-size: $var-fs-md;
          margin: 0 0 1rem;
        }

        .woocommerce-product-rating {
          margin-bottom: 1rem;
          @include flex-center-vert;

          .star-rating {
            margin: 0 1rem 0 0;
          }
        }

        .price {
          margin: 0 0 1rem;
          color: $var-accent-color;
        }

        form {
          &.cart {
            margin: 0 0 1rem;

            .quantity {
              input {
                padding: 5px 0;
                border: 1px solid #eeeeee;
              }
            }

            .single_add_to_cart_button {
              background-color: $var-accent-color;
              width: auto;
              padding: 1rem 1.5rem;
            }
          }
        }
      }
    }

    .product_meta {
      > span {
        display: block;
        margin-bottom: .5rem;
        font-weight: $var-fw-bold;

        &:last-child {
          margin-bottom: 0;
        }

        span,
        a {
          display: inline-block;
          font-weight: $var-fw-regular;
        }
      }
    }
  }
}