@import "../../../shared/scss/abstracts/abstracts";

.owl-carousel {
  .owl-nav {
    text-align: center;
    margin-top: var(--#{$prefix-theme}spacing-3);

    button {
      &.owl-prev,
      &.owl-next {
        margin: 0 var(--#{$prefix-theme}spacing-2);
        color: $body-color;
        font-size: $var-fs-lg;
        line-height: normal;
        @include transition();

        &:hover {
          color: $var-accent-color;
        }
      }
    }
  }

  .owl-dots {
    margin-top: var(--#{$prefix-theme}spacing-4);
    @include flex-center;

    .owl-dot {
      display: inline-block;
      margin: 0 var(--#{$prefix-theme}spacing-1);

      span {
        display: block;
        @include square(1rem);
        background-color: $var-black-color;
        border-radius: 50%;
        @include transition(all 0.2s ease-in-out);
      }

      &.active,
      &:hover {
        span {
          background-color: $var-accent-color;
        }
      }
    }
  }
}

.custom-equal-height-owl {
  .owl-stage {
    display: flex;

    .owl-item {
      display: flex;
      flex: 1 0 auto;
    }
  }
}