@import "../../../../shared/scss/abstracts/abstracts";

.content-archive-post {
  display: grid;
  grid-gap: 2.4rem;

  .item {
    padding: 2.5rem 1.5rem 1.5rem;
    border: .1rem solid $var-primary-color;
  }

  .post-title {
    font-size: 2rem;

    a {
      color: $heading-color;

      i {
        margin-right: .5rem;
        color: $var-accent-color;
      }

      &:hover {
        color: $var-accent-color;
      }
    }
  }

  .post-thumbnail {
    margin-bottom: 1rem;
  }

  .post-desc {
    ul {
      li {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    table {
      margin-bottom: 3rem;
      width: 100%;

      tr {
        border-bottom: .1rem solid $var-primary-color;

        th {
          padding: 1rem 2rem 1rem 0;
        }
      }
    }

    dd {
      margin: 0 0 2rem;
    }

    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }

  .post-meta {
    font-size: 1.2rem;
    margin-bottom: .5rem;

    span {
      display: inline-block;
      margin-right: .5rem;

      &:after {
        display: inline-block;
        content: '/';
        margin-left: 1rem;
        margin-right: 0;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      a {
        color: $var-accent-color;

        &:hover {
          color: $body-color;
        }
      }
    }
  }

  .page-links {
    font-weight: $var-fw-bold;

    a {
      display: inline-block;

      span {
        display: inline-block;
        padding: 0 .5rem;
      }
    }
  }

  @media (min-width: 1200px) {
    &.grid-sidebar-col-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.grid-sidebar-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: 992px) {
    &.grid-col-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.grid-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    &.grid-sidebar-col-3,
    &.grid-sidebar-col-4 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) and ( max-width: 991px ) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 576px) and ( max-width: 767px ) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 575px) {
    grid-template-columns: 1fr;
  }
}