@import "../../shared/scss/abstracts/abstracts.scss";

@import "vendors/bootstrap";

//Base rules
@import "base/base";
@import "base/wp-core";
@import "base/grid";

//Layout rules
@import "layout/typography";
@import "layout/color";
@import "layout/grid";
@import "layout/buttons";
@import "layout/forms";

//Module rules
@import "module/heading";
@import "module/loading";
@import "module/header";
@import "module/menu";
@import "module/menu-max991";
@import "module/menu-max1200";
@import "module/menu-min992";
@import "module/breadcrumb";
@import "module/pagination";
@import "module/sidebar";
@import "module/modules";
@import "module/carousel";
@import "module/footer";

