//Base rules
@import "../../shared/scss/abstracts/vars";
@import "../../shared/scss/abstracts/mixins";
@import "../../shared/scss/abstracts/placeholder-selector";
@import "base/base";
@import "base/wp-core";

//Layout rules
@import "layout/typography";
@import "layout/color";
@import "layout/align";
@import "layout/grid";
@import "layout/background";
@import "layout/buttons";
@import "layout/forms";

//Module rules
@import "module/heading";
@import "module/loading";
@import "module/header";
@import "module/menu";
@import "module/menu-max991";
@import "module/menu-max1200";
@import "module/menu-min992";
@import "module/sidebar";
@import "module/modules";
@import "module/clients";
@import "module/thank-you";
@import "module/action";
@import "module/pricing";
@import "module/footer";
@import "module/carousel";
@import "module/landing";



