$prefix-theme: theme-;
$font-path: "../fonts";

// breakpoints
$mt-breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

// spacing
$spacing-base: 0.4rem;

// Grid columns
$grid-columns: 12;
$grid-gutter-width: $spacing-base * 6;

$color-theme: #FFDF00;
$color-hover: #37b05d;
$color-body: #353535;
$color-gray-600: #868E96;
$color-heading: #212529;
$color-secondary: #FF4F40;
$color-gray: #fef6f6;
$color-white: #ffffff;
$color-black: #000000;
$color-light-gray: #F4F4F4;
$color-gray-medium: #888888;

$baseline: 2rem;

$line-height-base: 1.6;
$line-height-content: 1.8;
$font-body: 'SFProDisplay', sans-serif;
$font-heading: 'SFProDisplay', sans-serif;
$font-secondary: 'SFProDisplay', sans-serif;
$decoration-base: none;

$font-size-base: 1.6rem;
$font-size-h1: 3rem;
$font-size-h2: 2.4rem;
$font-size-h3: 2rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.3rem;
$font-size-h6: 1.2rem;


$background-base: no-repeat center center fixed;
$background-size-base: cover;


$fontawesome: fontawesome;
$radius-5: .5rem;
$radius-6: .6rem;
$radius-10: 1rem;
$radius-50: 50%;


$maxSmall: "screen and (max-width:767px)";
$minTablet: "screen and (min-width:768px)";
$maxTablet: "screen and (max-width:991px)";
$minLarge: "screen and (min-width:992px)";
$maxLarge: "screen and (max-width:1200px)";
$minXlarge: "screen and (min-width:1200px)";




